body {
	margin: 0px;
	
	}
.maincontainer {
	height: inherit;
	width: 80%;
	padding-top: 0px;
	padding-right: 20px;
	padding-bottom: 0px;
	margin-right: auto;
	margin-left: auto;
}
.header {
	height: 50px;
	width: 100%;
	padding: 10px;
	background-color: #56B2D7;
	color: #FFFFFF;
	vertical-align: middle;
	position: relative;
	margin-right: auto;
	margin-left: auto;

}


#header a:link {
	text-decoration: none;
	color: #FFFFFF;	
	
}
#header a:visited {
	text-decoration: none;
	color: #FFFFFF;	
	
	
	
}
#header a:active {
	text-decoration: none;
	color: #FFFFFF;	
	
	
	
}
#header a:hover {
	text-decoration: none;
	color: #C6BEB6;	
	
	
	
}

.facebook-icon {
	position: absolute;
	width:50px;
	height:50px;
	left:85px;
	top: 10px;
	font-size: 2em;
	border: 1px solid #FCF9F9;
	text-align: center;
	border-radius: 50%;
	line-height: 60px;
		
}

.twitter-icon {
	position: absolute;
	width:50px;
	height:50px;
	left: 155px;
	top: 10px;
	font-size: 2em;
	border: 1px solid #FCF9F9;
	text-align: center;
	border-radius: 50%;
	line-height: 60px;
	
}


.memberprofile {
	font-family:Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
	background-color: #C8C9CB;
	height: 150px;
	width: 280px;
	position: absolute;
	top: 70px;
	bottom: 0px;
	color: #56B2D7;
	right: 20px;
	border: thin solid #56B2D7;
	border-radius:2px;
	overflow-x: hidden;
	overflow-y: hidden;
	font-size: 22px;
	display: none;
	}

#memberprofile a:link {
	text-decoration: none;
	color: #56B2D7;
	font-family:Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
	font-size: 1em;
}
#memberprofile a:visited {
	text-decoration: none;
	color: #56B2D7;
	font-family:Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
	font-size: 1em;	
	
}
#memberprofile a:active {
	text-decoration: none;
	color: #56B2D7;
	font-family:Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
	font-size: 1em;	
	
}
#memberprofile a:hover {
	text-decoration: none;
	color: #56B2D7;
	font-family:Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
	font-size: 1em;	
	
}
.myprofile {
	width: 65%;
	text-align: left;
	position: absolute;
	height: 50px;
	top: 0px;
	bottom: 0px;
	border-top-width: thin;
	border-bottom-width: thin;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #56B2D7;
	border-bottom-color: #56B2D7;
	padding-left: 35%;
	vertical-align: middle;
	line-height: 50px;
	
	
}
.myprofile:before {
	font-family: icomoon;
	 content: "\f085";
	font-size: 1em;
	position: absolute;
	left: 45px;
	color: #FFF;
	display: inline;
	text-shadow: 0 0 0px;
}
.myreviews {
	width: 65%;
	text-align: left;
	position: absolute;
	height: 50px;
	top: 50px;
	bottom: 0px;
	padding-left: 35%;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #56B2D7;
		line-height: 50px;
}
.myreviews:before{
	font-family:icomoon;
	  content: "\f123";
	font-size: 1em;
	position: absolute;
	left: 45px;
	color: #FFF;
	display: inline;
	vertical-align: middle;
}

.mesignout {
	width: 65%;
	text-align: left;
	position: absolute;
	height: 50px;
	top: 100px;
	bottom: 0px;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #56B2D7;
	padding-left: 35%;
		line-height: 50px;
}

.mesignout:before{
	font-family: icomoon;
	content: "\f08b";
	font-size: 1em;
	position: absolute;
	left: 45px;
	color: #FFF;
	display: inline;
	vertical-align: middle;
}



	
.messages {
	font-family:Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
	font-size: 2.5em!important;
	position: absolute;
	bottom: 0px;
	color: #FFFFFF;
	right: 120px;
	top:15px;
	cursor: pointer;
	width: auto;
	text-align: left;
	height: auto;
	}
	
.membermessages {
	font-family:Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
	background-color: #C8C9CB;
	height: 150px;
	width: 300px;
	position: absolute;
	bottom: 0px;
	color: #56B2D7;
	right: 40px;
	border: thin solid #56B2D7;
	border-radius:2px;
	overflow-x: hidden;
	overflow-y: auto;
	font-size: 18px;
	display: none;
	list-style-type: none;
	top: 70px;
	text-align:left;	
	}
.unread{
	font-family:Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
	font-size: 1em;
	position: absolute;
	right: 55px;
	top: 117px;
	color: #FFF;
	font-weight: bold;
	display: inline;
}

#membermessages  a:link {
	text-decoration: none;
	color: #55B5CE;
	
}
#membermessages  a:visited {
	text-decoration: none;
	color: #55B5CE;
	
	
}
#membermessages  a:active {
	text-decoration: none;
	color: #55B5CE;
	
	
}
#membermessages  a:hover {
	text-decoration: none;
	color: #55B5CE;
	
	
}
	
#membermessages ul{
	margin: 0px;
	padding-top:0px;
	width: 100%;
	padding-left: 0px;
}
	
#membermessages ul li {
	height: 45px;
	width: 95%;
	list-style-type: none;
	display: inline-block;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #56B2D7;
	margin: 0px;
	padding-left:5%;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 5px;
	text-align: left;
	line-height: 45px;
}

#membermessages ul li:before {
	font-family: icomoon;
	content: '\f2b7';
	font-size: 1em;
	color: #FFFFFF;
	z-index:0;
	text-align: right;
	padding-right: 25px;
	display: inline;
}

.profile {
position: absolute;
	width: 50px;
	height:50px;
	right:35px;
	font-size: 2em;
	z-index: 0;
	
}

.profile:before {
	font-family: icomoon;
	content: "\f0d7";
	color: white;
	left:-8px;
	position: absolute;
	font-size: 1em!important;
	z-index: 1;
	}

.profile_image {
	height:50px;
	width:50px;
	border: thin solid #FFF;
	border-radius: 50%;
	position: absolute;
	display: block;
	}


.signin {
	width: 120px;
	height: 70px;
	line-height: 70px;
	font-family:Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
	font-size: 2em!important;
	position: absolute;
	right: 5px;
	top: 0px;
	
}

#signin a:link {
	text-decoration: none;
	color: #FFFFCC;
	font-family:Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
	font-size: 1em!important;
	
}
#signin a:visited {
		text-decoration: none;
	color: #FFFFCC;
	font-family:Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
	
	
	
}
#signin a:active {
		text-decoration: none;
	color: #FFFFCC;
	font-family:Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';

	
	
}
#signin a:hover {
		text-decoration: none;
	color: #FFFFCC;
	font-family:Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
	
	
	
}
.signout {
	height: auto;
	width: 90px;
	float: right;
	margin-right: 15px;
	font-family:Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
	font-size: 1em;
}

#signout a:link {
	text-decoration: none;
	color: #FFFFCC;
	font-family:Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
	font-size: 1em;	
}
#signout a:visited {
		text-decoration: none;
	color: #FFFFCC;
	font-family:Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
	font-size: 1em;	
	
	
}
#signout a:active {
		text-decoration: none;
	color: #FFFFCC;
	font-family:Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
	font-size: 1em;	
	
	
}
#signout a:hover {
	text-decoration: none;
	color: #FFFFCC;
	font-family:Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
	font-size: 1em;	
	
	
}


.hdrimg {
	width:50px;
	height:50px;
	border: thin solid #FFF;
	border-radius:50%;
	margin-right: 25px;
	position: absolute;
	left: 15px;
	top:10px;
	}
.banner {
	width: 100%;
	height: 240px;
	padding: 0px;
	background-image: url(../images/logos/banner.svg);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-size:contain;
	margin-top: 25px;
	font-family:Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
	text-indent: 415px;
	font-size: 24px;
	font-weight: normal;
	line-height: 240px;
	color: #56B2D7;
}
.heading {
	height: auto;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align:center;
	margin-right: auto;
	margin-left: auto;
}
h1 {
	color: #56B2D7;
	font-family:Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
	margin: 0px;
	font-size: 2em;
	line-height: 1.25em;
}
.intro {
	font-family:Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
	font-size: 1.375em;
	color: #333;
	width: 80%;
	height: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5%;
	padding-right: 5%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.chooser {
	width: 80%;
	height: 200px;
	position: relative;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: auto;
	margin-left: auto;
	
}
.choosereview {
	width: 40%;
	height: 200px;
	text-align: center;
	vertical-align: middle;
	position: absolute;
	border: thin solid #FFF;
	margin-left: 5%;
	top: 0px;
	line-height: 220px;
	background-color: #56B2D7;
	font-family:Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
	font-weight: bold;
	color: ghostwhite;
	font-size: 1.5em;
	margin-right: 5%;
	border-radius:25px;
	background-image: url(../images/icons/house-outline-bg.png);
	background-repeat: no-repeat;
	background-position: 50% 20px;
}
#choosereview a:link {
	text-decoration: none;
	color: #55B5CE;
	
}
#choosereview a:visited {
	text-decoration: none;
	color: #55B5CE;
	
	
}
#choosereview a:active {
	text-decoration: none;
	color: #55B5CE;
	
	
}
#choosereview a:hover {
	text-decoration: none;
	color: #55B5CE;
	
	
}
.chooseview {
	width: 40%;
	height: 200px;
	text-align: center;
	vertical-align: middle;
	position: absolute;
	border: thin solid #FFF;
	left: 50%;
	top: 0px;
	margin-left: 5%;
	line-height: 220px;
	background-color: #56B2D7;
	font-family:Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
	font-weight: 600;
	color: ghostwhite;
	font-size: 1.5em;
	margin-right: 5%;
	border-radius:25px;
	background-image: url(../images/icons/house-outline-bg.png);
	background-repeat: no-repeat;
	background-position: 50% 20px;
}
#chooseview  a:link {
	text-decoration: none;
	color: #55B5CE;
	
}
#chooseview  a:visited {
	text-decoration: none;
	color: #55B5CE;
	
	
}
#chooseview  a:active {
	text-decoration: none;
	color: #55B5CE;
	
	
}
#chooseview  a:hover {
	text-decoration: none;
	color: #55B5CE;
	
	
}
.latestreviews {
	height: auto;
	width: 100%;
	margin-top: 250px;
	margin-bottom: 10px;
	display: block;
	position: relative;
}
.propertyimagebox {
	width: 85px;
	height: 85px;
	text-align: center;
	vertical-align: middle;
	position: absolute;
	border: thin solid #56B2E5;
	left: 5%;
	top: 0px;
	margin-right: 5%;
	border-radius:25px;
}
.footer {
	height: 50px;
	width: 80%;
	position: fixed;
	bottom: 2px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	line-height: 50px;
	padding-left: 15px;
	color: #FFFFFF;
	background-color: #56B2D7;
	margin-right: auto;
	margin-left: auto;
	display: none;
}

.killjoy-assist {
	position: absolute;
	width:30px;
	height:30px;
	right:25px;
	top: 8px;
	font-size: 2em;
	border: 3px solid #FCF9F9;
	text-align: center;
	border-radius: 50%;
	line-height: 30px;
	cursor: pointer;
	box-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
	
}

.killjoy-assist:before {
font-family: icomoon;
	content: "\f0d8";
	color: white;
	right:-11px;
	position: absolute;
	font-size: 1em!important;
	z-index: 1;
	
	
	
}

.info-center {
	position: absolute;
	width:30px;
	height:30px;
	right:85px;
	top: 8px;
	font-size: 2.35em;
	border-radius: 50%;
	line-height: 30px;
	cursor: pointer;
	
}



.search-box {
    font-family:Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
	background-color: #C8C9CB;
	height: 150px;
	width: 280px;
	position: fixed;
	bottom: 52px;
	color: #56B2D7;
	right: 250px;
	border: thin solid #56B2D7;
	border-radius:2px;
	overflow-x: hidden;
	overflow-y: hidden;
	font-size: 22px;
	display: none;	
	
	
	
}
.designedby {
	height: auto;
	width: 200px;
	margin-right: 5px;
	padding-left: 10px;
	display: inline;
	vertical-align: middle;
	
	}

#designedby a:link {
	text-decoration: none;
	color: #FFFFCC;	
}
#designedby  a:visited {
	text-decoration: none;
	color: #FFFFCC;	
	
	
}
#designedby  a:active {
	text-decoration: none;
	color: #FFFFCC;	
	
	
}
#designedby  a:hover {
	text-decoration: none;
	color: #FFFFCC;	
	
	
}

