}
body {
	margin: 0px;
}
.maincontainer {
	height: inherit;
	width: 60%;
	padding-top: 0px;
	padding-right: 20px;
	padding-bottom: 0px;
	padding-left: 20px;
	margin-right: auto;
	margin-left: auto;
}
.header {
	height: 50px;
	width: 100%;
	padding: 10px;
}
.hdrimg {
	width:auto;
	height:auto;
	max-width:75px;
	}
