.latestreviews {
	height: auto;
	width: 100%;
	margin-top: 250px;
	margin-bottom: 10px;
	display: block;
	position: relative;
}
h2 {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 1.375em;
	margin: 0px;
	color: #55B5CE;
	font-weight: bold;
}

.latestheader {
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: bold;
	color: #56B2D5;
	height: 20px;
	width: 100%;
	padding-left: 45px;
	position: absolute;
	left: 0px;
	top: 0px;
	margin-bottom: 15px;
}
.propertyimagebox {
	width: 85px;
	height: 85px;
	text-align: center;
	vertical-align: middle;
	position: absolute;
	border: thin solid #56B2E5;
	left: 5%;
	top: 45px;
	margin-right: 5%;
	border-radius:25px;
}
.addressbox {
	height: 85px;
	width: 300px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 1.25em;
	position: absolute;
	left: 15%;
	border: thin solid #00F;
	padding-left: 15px;
	text-align: left;
	vertical-align: middle;
	top: 45px;
}
.ratingbox {
	height: 85px;
	width: 250px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 1.25em;
	position: absolute;
	left: 450px;
	border: thin solid #00F;
	padding-left: 15px;
	text-align: left;
	vertical-align: middle;
	top: 45px;
}

@media only screen and (min-width:412px) and (max-width:732px) {
	
	
}
.datebox {
	left: 500px;
	position: absolute;
	height: 85px;
	width: 85px;
	border: thin solid #00F;
	font-family: Tahoma, Geneva, sans-serif;
	top: 45px;
}
