.latestheader {
	color: #56B2D5;
	height: auto;
	width: 100%;
	position: relative;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	}
h2 {
	font-family:Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
	font-size: 1.375em;
	margin: 0px;
	color: #55B5CE;
	font-weight: bold;
	overflow-x:hidden;
	overflow-y:auto;
}
.latestreviews {
	height: 150px;
	width: 80%;
	margin-top: 10px;
	margin-bottom: 10px;
	position: relative;
	margin-right: auto;
	margin-left: auto;
		
}

.propertyimagecontainer {
	width: 100px;
	height: 100px;
	text-align: center;
	vertical-align: middle;
	position: absolute;
	left: 5%;	
	margin-right: 5%;	
	max-width:100px;
	
}
.propertyimage {
	height: 100px;
	width: 100px;
	border: thin solid #55B9CD;
	vertical-align: middle;
	border-radius:50%;
}
.addressbox {
	height: 85px;
	width: 200px;
	max-width:250px;
	font-family:Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
	font-size: 1em;
	position: absolute;
	left: 175px;
	padding-left: 15px;
	text-align: left;
	vertical-align: middle;	
	padding-top: 10px;
	word-break: break-all;
	padding-right: 10px;
	color: #6DADC0;
	font-weight: 700;
}
.ratingbox {
	height: 58.5px;
	width: 238.89px;
	font-family:Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
	font-size: 1em;
	position: absolute;
	left: 380px;
	text-align: left;
	vertical-align: middle;	
	padding-top: 26.5px;
	color: #56B2D7;
	font-weight: bold;
	margin-left: 25px;
}

.rating-value {
	display: inline;
	vertical-align: top;
	left: 245px;
	position: absolute;
}

.latest-impressions {
	
	position: absolute;
	top: 110px;
	left:0px;
	height:40px;
	
	width: 100%;
	
}
.like-action {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 25%;
	height: 40px;
	line-height: 40px;
	font-family: Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
	font-size: 1.5em;
	color: #222;
	font-weight: 600;
	text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
	text-align: center;
	
		
}

.like-count {font-size: 0.8em!important;vertical-align: bottom;color: #6EADC1; font-weight: 700; padding-right: 4px;}

.like-action {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 25%;
	height: 40px;
	line-height: 40px;
	font-family: Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
	font-size: 1.5em;
	color: #222;
	font-weight: 600;
	text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
	text-align: center;
		
}

.like-count {font-size: 0.8em!important;vertical-align: bottom;color: #6EADC1; font-weight: 700; padding-right: 4px;}

.comment-action {
	position: absolute;
	top: 0px;
	left: 25%;
	width: 25%;
	height: 40px;
	line-height: 40px;
	font-family: Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
	font-size: 1.5em;
	color: #222;
	font-weight: 600;
	text-shadow: -1px 0 #6EADC1, 0 1px #6EADC1, 1px 0 #6EADC1, 0 -1px #6EADC1;
	text-align: center;
	
}

.comment-count {font-size: 0.8em!important;vertical-align: bottom;color: #6EADC1; font-weight: 700; padding-right: 4px;}

.impression-action {
	position: absolute;
	top: 0px;
	left: 50%;
	width: 25%;
		height: 40px;
	line-height: 40px;
	font-family: Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
	font-size: 1.5em;
	color: #222;
	font-weight: 600;
	text-shadow: -1px 0 #6EADC1, 0 1px #6EADC1, 1px 0 #6EADC1, 0 -1px #6EADC1;
	text-align: center;
	
}

.impression-count {font-size: 0.8em!important;vertical-align: bottom;color: #6EADC1; font-weight: 700; padding-right: 4px;}

.share-action {
	position: absolute;
	top: 0px;
	left: 75%;
	width: 25%;
		height: 40px;
	line-height: 40px;
	font-family: Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
	font-size: 1.5em;
	color: #222;
	font-weight: 600;
	text-shadow: -1px 0 #6EADC1, 0 1px #6EADC1, 1px 0 #6EADC1, 0 -1px #6EADC1;
	text-align: center;
	
}

.share-count {font-size: 0.8em!important;vertical-align: bottom;color: #6EADC1; font-weight: 700; padding-right: 4px;}

.review-devider {
	
	width: 60%;
	border: solid 2px #56B2D7;
    color: #56B2D7;
	margin-bottom: 35px;
	
}


