.navcontainer {
	height: 55px;
	width: 90%;
	margin-top: 15px;
	margin-right: auto;
	margin-bottom: 5px;
	margin-left: auto;
	position: relative;
	vertical-align: middle;
		
	
}
.netxbtn {
	height: 45px;
	width: 45px;
	position: absolute;
	top: 0px;
	right: 0px;

}

.netxbtn:before {
	font-family: icomoon;
	content: "\f0a9";
	font-size: 2em !important;
	color: #0077B5 !important;
	left: 0px;
	top: 0px;
	cursor: pointer;
	
	
}
.prevbtn {
	position: absolute;
	height: 45px;
	width: 45px;
	left: 0px;
	top: 0px;
	vertical-align: middle;
}

.prevbtn:before {
	font-family: icomoon;
	content: "\f0a8";
	font-size: 2em !important;
	color: #0077B5 !important;
	left: 0px;
	top: 0px;
	cursor: pointer;
	
	
}
.navtext {
	height: 35px;
	font-family:Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
	color: #666;
	vertical-align: middle;
	font-size: 0.9em !important;
	text-align: center;
	position: absolute;
	left: 35px;
	top: 0px;
	width: 80%;
	line-height: 35px;
	font-weight: bolder;
	
	
}





