#phonenumber img {
	border-radius:4px;
}
.header {
	height: 25px;
	width: 90%;
	background-color: #E5BA72;
	font-family: "Arial Black", Gadget, sans-serif;
	color: #130F28;
	line-height: 25px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 2px;
	text-indent: 15px;
	font-size: 25px;
	display: flex;
	flex-wrap: nowrap;
	padding: 5px;
	vertical-align: middle;
	border-radius: 2px;
}
}
body {
	margin: 0px;
	
	
}

#header a:link {
	color: #130F28;
	text-decoration: none;
}
#header a:visited {
	color: #130F28;
	text-decoration: none;
}
#header a:hover {
	color: #130F28;
	text-decoration: none;
}
#header a:active {
	color: #130F28;
	text-decoration: none;
}
.logocontainer {
	height: 64px;
	width: 90%;
	margin-top: 5px;
	margin-right: auto;
	margin-bottom: 5px;
	margin-left: auto;
	background-image: url(../images/owl-silhouette64x64.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 15px;
	position: relative;
}
.logotext {
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: 600;
	color: #E5BA72;
	text-transform: capitalize;
	font-size: 1.25em;
	height: 20px;
	width: 100%;
	text-indent: 82px;
	position: absolute;
	top: 22px;
}
.slogan {
	height: 30px;
	width: 90%;
	text-align: left;
	text-indent: 25px;
	vertical-align: middle;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
	font-family: Tahoma, Geneva, sans-serif;
	color: #130F28;
	font-size: 1em;
	font-weight: 600;
	line-height: 35px;
	display: flex;
	flex-wrap: nowrap;
}
.mainbanner {
	margin-top: 5px;
	margin-right: auto;
	margin-bottom: 5px;
	margin-left: auto;
	height: 300px;
	width: 90%;
	background-image: url(../images/banners/blue-stars.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	text-align: center;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-radius:3px;
}
.discover {
	position: absolute;
	top: 50px;
	font-family: "Lucida Console", Monaco, monospace;
	color: #E5BA72;
	text-transform: uppercase;
	font-weight: 500;
	height: 2.2em;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	font-size: 2em;
	line-height: 1.375em;
}
.help {
	position: absolute;
	top: 100px;
	font-family: "Lucida Console", Monaco, monospace;
	color: #E5BA72;
	text-transform: uppercase;
	font-weight: 500;
	height: auto;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	font-size: 3em;
	line-height: 2em;
}
.needs {
	position: absolute;
	top: 160px;
	font-family: "Lucida Console", Monaco, monospace;
	color: #E5BA72;
	text-transform: uppercase;
	font-weight: 500;
	height: auto;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	font-size: 1em;
	display:none;
}
.h1container {
	height: 45px;
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	text-indent: 5;
	margin-top: 5px;
	padding-bottom: 5px;
	display: block;
	flex-wrap: nowrap;
	text-align: center;
	margin-bottom: 40px;
}
.h2container {
	height: 26px;
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	text-indent: 15px;
	margin-top: 5px;
	padding-bottom: 5px;
	display: flex;
	flex-wrap: nowrap;
}
h1 {
	font-family: Tahoma, Geneva, sans-serif;
	color: #130F28;
	font-size: 2em;
	margin-top: 20px;
	margin-bottom: 35px;
	display: block;
}
h2 {
	font-family: Tahoma, Geneva, sans-serif;
	margin: 0px;
	font-size: 1.625em;
	color: #130F28;
}
h3 {
	font-family: Tahoma, Geneva, sans-serif;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
	font-size: 1.375em;
	line-height: 1.13636364em;
}
.conversion {
	font-weight: 700;
	font-size: 1.1em;
}
.bodytext {
	width: 80%;
	height: auto;
	text-align: left;
	margin-top: auto;
	margin-right: auto;
	margin-left: auto;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5%;
	padding-right: 5%;
	display: block;
}
#bodytext p img {
	margin-right: auto;
	margin-left: auto;
	position: relative;
	height: 254px;
	width: 250px;
}
#bodytext p a {
	text-decoration: none;
}
p {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 1em;
	line-height: 1.25em;
	letter-spacing: 0.175em;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
blockquote {
	background: #f9f9f9;
	border-left: 10px solid #ccc;
	margin: 1.5em 10px;
	padding: 0.5em 10px;
	quotes: "\201C" "\201D";
	font-size: 1.25em;
}
#bodytext blockquote p {
	font-weight: 500;
	font-style: oblique;
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
   blockquote:after {
  color: #ccc;
  content: close-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
    }
blockquote p {
  display: inline;
}

@media screen and (max-width : 320px){
	.h1container {
	height: 90px;
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	text-indent: 5;
	margin-top: 5px;
	padding-bottom: 5px;
	display: block;
	flex-wrap: nowrap;
	text-align: center;
	margin-bottom: 20px;
}

.h2container {
	height: 30px;
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	text-indent: 15;
	margin-top: 5px;
	padding-bottom: 5px;
	display: flex;
	flex-wrap: nowrap;
	text-align: center;
	margin-bottom: 27px;
}
	
}
.marketingimg {
	width:auto;
	height:auto;
	max-width:300px;
	max-height:100px;
	
}
#bodytext p #inline .marketingimg {
	height: 125px;
	width: 250px;
}
.footer {
	height: 500px;
	width: 90%;
	margin-top: 50px;
	margin-right: auto;
	margin-left: auto;
	background-color: #E6BC72;
	background-image: url(../images/owl-silhouette128x128.png);
	background-position: 15px 15px;
	border: 8px solid #120E27;
	border-radius:4px;
	position: relative;
	top: 10px;
	bottom: 5px;
	background-repeat: no-repeat;
}
.footerslogan {
	position: absolute;
	top: 160px;
	height: 60px;
	width: 100%;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 1em;
	line-height: 50px;
	color: #E6BC72;
	background-color: #120E27;
	font-weight: 700;
	text-transform: capitalize;
	text-align: center;
}
.strategybox {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 3em;
	text-align: center;
	vertical-align: middle;
	font-weight: 700;
	top: 250px;
	left: 0px;
	width: 20%;
	height: 90px;
	color: #E6BC72;
	background-color: #120E27;
	position: absolute;
	padding-top: 10px;
	border: 2px solid #E6BC72;
	border-radius:50%;
}
.strategytext {
	height: 20px;
	width: 100%;
	bottom: 0px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	left: 0px;
	padding-top: 4px;
	padding-bottom: 4px;
	
}
.editbox{
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 3em;
	text-align: center;
	vertical-align: middle;
	font-weight: 700;
	top: 250px;
	left: 20%;
	width: 20%;
	height: 90px;
	color: #E6BC72;
	background-color: #120E27;
	position: absolute;
	padding-top: 10px;
	border: 2px solid #E6BC72;
	border-radius:50%;
}
.edittext {
	height: 20px;
	width: 100%;
	bottom: 0px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	left: 0px;
	padding-top: 4px;
	padding-bottom: 4px;
}
.developbox{
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 3em;
	text-align: center;
	vertical-align: middle;
	font-weight: 700;
	top: 250px;
	left: 40%;
	width: 20%;
	height: 90px;
	color: #E6BC72;
	background-color: #120E27;
	position: absolute;
	padding-top: 10px;
	border: 2px solid #E6BC72;
	border-radius:50%;
}
.developtext {
	height: 20px;
	width: 100%;
	bottom: 0px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	left: 0px;
	padding-top: 4px;
	padding-bottom: 4px;
}
.launchbox{
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 3em;
	text-align: center;
	vertical-align: middle;
	font-weight: 700;
	top: 250px;
	left: 60%;
	width: 20%;
	height: 90px;
	color: #E6BC72;
	background-color: #120E27;
	position: absolute;
	padding-top: 10px;
	border: 2px solid #E6BC72;
	border-radius:50%;
}
.launchtext {
	height: 20px;
	width: 100%;
	bottom: 0px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	left: 0px;
	padding-top: 4px;
	padding-bottom: 4px;
}
.performbox{
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 3em;
	text-align: center;
	vertical-align: middle;
	font-weight: 700;
	top: 250px;
	left: 80%;
	width: 20%;
	height: 90px;
	color: #E6BC72;
	background-color: #120E27;
	position: absolute;
	padding-top: 10px;
	border: 2px solid #E6BC72;
	border-radius:50%;
}
.performtext {
	height: 20px;
	width: 100%;
	bottom: 0px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	left: 0px;
	padding-top: 4px;
	padding-bottom: 4px;
}
.copyright {
	width: 100%;
	height: 28px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 0.8em;
	line-height: 26px;
	font-weight: 500;
	text-indent: 45px;
	position: absolute;
	left: 0px;
	bottom: 45px;
	background-color: #120E27;
	color: #E6BC72;
}
.designedby {
	width: auto;
	height: 28px;
	background-color: #120E27;
	float: right;
	padding-right: 25px;
	display:none;
}

#footer #copyright .designedby a {
	color: #FFFFCC;
	text-decoration: none;
}
#footer #copyright img {
	height: 24px;
	width: 24px;
	float: right;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 4px;
	padding-left: 15px;
	display:none;
}
