.stepfields {
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 1.375em;
	line-height: 25px;
	font-weight: bolder;
	color: #56B2D7;
	height: 25px;
	width: 100%;
	padding-bottom: 10px;
	margin-bottom: 15px;
}

.stepfields ol {
	
	margin: 0px;
	padding: 0px;
}

.commentbox {
	
	width: 100%;
	height: 200px!important;
	overflow-x: hidden;
	
}

.fieldlabels {
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	color: #000000;
	width: 100%;
	margin-bottom: 15px;
	font-weight: 600;
	}

.searchfield {
	width: 100%;
	border: thin solid #56B2D7;
	border-radius:5px;
	margin-bottom: 25px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 1.375em;
	padding-left: 15px;
}
.streetaddress {
	width: 100%;
	position: relative;
	margin-bottom: 55px;
	height: 95px;
	line-height: 95px; 
	
	}
.street-number {
	width :25%;
	padding-right: 5%;
	position: absolute;
	left: 0px;
	top:0px;	
	height: 95px;
	padding-top: 0px !important;
	line-height: 95px;
	}

.street-number-field {	
	border: thin solid #56B2D7;
	height: 45px!important;
	width: 100%;
	margin-top: 0px !important;
	padding-top: 0px !important;
	display: inherit;
	
}

.street-name{
	width :70%;
	position: absolute;
	left: 30%;
	top:0px;
	height: 95px;
	padding-top: 0px !important;	
}

.street-name-field {	
	border: thin solid #56B2D7;
	height: 45px!important;
	width: 100%;
	margin-top: 0px !important;
	padding-top: 0px !important;
	display: inherit;
	margin-bottom: 25px;
	
}

.nextbutton {
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 1.25em;
	line-height: 40px;
	height: 95px;
	width: 280px;
	margin-top: 10px;
	color: #56B2D7;
	font-weight: 700;
	vertical-align: middle;
	background-color: #C8C9CB;
	border: thin solid #56B2D7;
	border-radius:4px;
	cursor: pointer;
	text-align: center;
}

.norating {
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	color: #CC3333;
	width: 100%;
	padding-left: 35px;
	font-weight: 900;
	text-shadow: 0 0 0px;
}



