::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #56B2D7;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #56B2D7;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #56B2D7;
}