
#mymessages {
	overflow-x:hidden;
	}


.messagebox {
	font-family:Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
	font-size: 1.375em !important;
	line-height: 1.25em;
	color: #000000;
	height: inherit;
	width: 100%;
	margin-bottom: 10px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 35px;
	overflow-y:scroll;
	word-wrap:normal;
}

#messagebox a:link {
	color: #56B2D7;
	text-decoration: none;
}
#messagebox a:visited {
	text-decoration: none;
	color: #56B2D7;
}
#messagebox a:hover {
	text-decoration: none;
	color: #56B2D7;
}
#messagebox a:active {
	text-decoration: none;
	color: #56B2D7;
}

