
#mymessages {
	overflow-x:hidden;
	}

.formcontainer {
	
	width:600px;
	height:inherit;
	overflow-x: hidden;
	overflow-y: auto;
	
}
.fieldlabels {
	font-family: Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
	font-size: 1.75em;
	color: #91B6D7;
	width: 100%;
	margin-top: 10px;
	font-weight: bolder;
	
}

.subjectfield {
	
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 1.375em;
	font-weight: 700;
	color: #111111;
	margin-top: 10px;
	
}

.messagebox {
	font-family:Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
	font-size: 1.375em !important;
	line-height: 1.25em;
	color: #000000;
	height: inherit;
	width: 100%;
	margin-bottom: 10px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 35px;
	overflow-y:scroll;
	word-wrap:normal;
}

.formheader {
	height: 30px;
	width: 100%;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 2em;
	color: #56B2D7;
	vertical-align: middle;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	font-weight: 700;
	margin-bottom: 15px;
}


#messagebox a:link {
	color: #56B2D7;
	text-decoration: none;
}
#messagebox a:visited {
	text-decoration: none;
	color: #56B2D7;
}
#messagebox a:hover {
	text-decoration: none;
	color: #56B2D7;
}
#messagebox a:active {
	text-decoration: none;
	color: #56B2D7;
}
.closefield {
	text-align: center;
	font-size: 1.25em;
}
]

