a:link {
	color: #56B2D7;
	text-decoration: none;
	padding-bottom: 10px;
}
a:visited {
	text-decoration: none;
	color: #56B2D7;
}
a:hover {
	text-decoration: none;
	color: #56B2D7;
}
a:active {
	text-decoration: none;
	color: #56B2D7;
}
.completecells {
	display: block;
	width: 90%;
	text-align: center;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 1.375em;
	color: #666;
	height: auto;
	font-weight: 600;
	padding-top: 5px;
	padding-bottom: 5px;
	text-decoration: none;
	padding-right: 10px;
	padding-left: 5px;
	margin-right: auto;
	margin-left: auto;
	}
	.resend {
	width: 200px;
	text-align: center;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 1.25em;
		line-height: 30px;
	color: #fff;
	height: 45px;
	font-weight: bold;
	text-decoration: none;
	margin-right: auto;
	margin-left: auto;
	border: 5px solid #56B2D7;
	border-radius:15px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
		background: #333;
		margin-bottom: 15px;
	}
.sent{
	width: 200px;
	text-align: center;
	  font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 1em;
	color: #FF0000;
	height: 25px;
	font-weight: bold;
	text-decoration: none;
	margin-right: auto;
	margin-left: auto;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	display: none;
	margin-bottom: 15px;
	}
	.sending{
	width: 200px;
	text-align: center;
	background-color:#56B2D7;
	height: 20px;
	text-decoration: none;
	margin-right: auto;
	margin-left: auto;
	display: none;
	background-repeat: no-repeat;
	}
.close {
	margin-top: 10px;
	margin-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 1em;
	line-height: 20px;
	margin-bottom: 15px;
	font-weight: bold;
	display: none;
}
.try-again{
	margin-top: 10px;
	margin-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 1em;
	line-height: 20px;
	margin-bottom: 15px;
	font-weight: bold;
	}


#complete a {
	text-decoration: none;
	color: #FFFFCC;
	margin-bottom: 10px;
	font-size: 18px;
	font-family:Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
	line-height: 20px;
	padding-bottom: 10px;
}
.completeexist{
	width:480px;
	overflow: hidden;
	border-radius:5px;
	height: auto;
	text-decoration: none;
	padding-right: 10px;
	padding-left: 5px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 1em;
}
.first-place {
	height: 45px;
	width: 45px;
	display: inline;
	vertical-align: middle;
}
