#myBtn {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 99;
	border: none;
	outline: none;
	background-color: #130F28;
	color: #E5BA72;
	cursor: pointer;
	padding: 15px;
	border-radius: 10px;
	background-image: url(../images/nav/back-to-top.gif);
	background-repeat: no-repeat;
	background-position: 50% 5px;
}

#myBtn:hover {
	background-color: #555;
	background-image: url(../images/nav/back-to-top.gif);
	background-repeat: no-repeat;
	background-position: 50% 5px;
}

@media screen and (max-width : 760px){
#myBtn {
background-color:rgba(19, 15, 40, 0.40);	
	
}
	
}
