.wrapper {
	position: relative;
	vertical-align: middle;
	height:110px;
	width:110px;
	display: inline-block;
	margin-top: 15px;
	
	
}
.close:before {
	content: "\e905";
	font-family: icomoon;
	font-size: 20px;
	color: #FFFFFF;
	background-color: #F00;
	border: thin solid #FAF8F5;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	display: block;
	text-align: center;
	line-height: 30px;
	cursor: pointer;
	padding: 2px;
}
.close {
	position: absolute;
	top: -15px;
	right: -15px;
		
}




