.ratingbox {
	height: 85px;
	width: 100%;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	text-align: left;
	padding-top:17.5px;
     position: relative;
	
		
	}

.rating_selection label:first-of-type {
  display: none;
}
.rating_selection input[type='radio'],
.rating_selection span {
  display: none;
}
.rating_selection label {
  cursor: pointer;
}
.rating_selection label:before {
	font-family: icomoon;
	 content: "\f006";
	font-size: 50px;
	letter-spacing: 10px;
	cursor:pointer;
	color: gold;
	width: 160px;
  }
.rating_selection input:checked + label ~ label:before {
  color: #aaa;
}
.rating_selection:hover label[for]:before {
	color: gold;
}
.rating_selection:hover label:hover ~ label:before {
  color: #aaa;
}

.rating-value {
	
	display: inline;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 0.8em!important;
	vertical-align: super;
	color: #56B2D7;
	font-weight: 900;
	position: absolute;
	left:310px;
	
}