@charset "utf-8";
}
body {
	margin: 0px;
}

.form {
	width: auto;
	overflow-x: hidden;
	overflow-y: hidden;
}
.formcontainer {
	height: inherit;
	width: 380px;
	padding-top: 0px;
	padding-right: 20px;
	padding-bottom: 0px;
	margin-right: auto;
	margin-left: auto;
	background-color: #C8C9CB;
	border-radius:5px;
	border: thin solid #56B2D5;
	overflow-x: hidden;
	overflow-y: hidden;
}
.formheader {
	height: inherit;
	width: 100%;
	background-color: #C8C9CB;
	font-family: Tahoma;
	font-size: 1.15em;
	color: #56B2D7;
	vertical-align: middle;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 15px;
	margin-bottom: 15px;
	margin-top: 10px;
}




@media only screen and (min-width:412px) and (max-width:732px) {
.inputfields {
	
	width: 230px;

}

.emailfield {
	
	width: 230px;

}	
.updated {
	height: 30px;
	width: 320px;
}

}
