.results {
	height: 65px;
	width: 350px;
	padding: 5px;
	margin-bottom: 15px;
	position: relative;
}
.marker {
	width: 20px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 1.75em;
	color: #FFF;
	font-weight: bold;
	height: 50px;
	position: absolute;
	left: 5px;
	top: 0px;
	line-height: 1.2em;
	padding-top: 17px;
	margin-right: 10px;
}
.image {
	height: 50px;
	width: 50px;
	position: absolute;
	border: thin solid #7FB2D7;
	left: 18px;
	top: 0px;
	border-radius:50%;
	margin-right: 10px;
	margin-left: 10px;
}
.addressfield {
	width: 200px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 1em;
	color: #FFF;
	font-weight: bold;
	height: 50px;
	position: absolute;
	left: 90px;
	top: 0px;
	line-height: 1.20em;
	padding-top: 17px;
}
.mydata {
	font-size: 1.15em;
	display: inline-block;
	font-family: Tahoma, Geneva, sans-serif;
	color: #FFF;
}
