body {
margin: 0px;
	padding: 0px;
	font-size: 20px;
	
	
}

.header {
	position: relative;
	top:0px;
	width:100%;
	height:210px;
	background-color: #56B2D7;
	display:inline-flex;
	border-bottom: 2px solid #C7BFB6;
	
}



.header-text {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 3em;
	text-align: center;
	color: ghostwhite;
	position: absolute;
	top:25px;
	width:100%;
	margin-bottom: 15px;
	line-height: 45px;
	font-weight: 500;
	
}

.header-text h1 {
	
	margin: 0px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 1em;
	display: inline;
	vertical-align: middle;
	padding-left: 10px;
	
	
	
}

.search-container {
	
	width:60%;
	height:auto;
	text-align: left;
	position: absolute;
	top:100px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 20%;
	padding-right: 20%;
	
}

.search-text {
	
	width:100%;
	text-align: center;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 1em;
	color: ghostwhite;
	margin-right: auto;
	margin-left: auto;
		
}

.search-box {
	
	width:100%;
	height:auto;
	text-align: center;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 1em;
	color: ghostwhite;
	margin-right: auto;
	margin-left: auto;
		
}

.searchfield {
	height: 65px;
	width: 100%;
	font-family:Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
	color: #000;
	font-size: 1em;
	padding-left: 45px;
	border: thin solid #C7BFB6;
	border-radius:5px;
	background-image: url(../../images/icons/search-icon-25x25-transparent.png);
	background-repeat: no-repeat;
	background-position: 10px 20px;
	overflow-x:hidden;
	margin-bottom: 25px;
	
	
}
.search-results-container {
	
	position: relative;
	top: 0px;
	height: 700px;
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;	
	border-right: solid thin #C7BFB6;
	border-left: solid thin #C7BFB6;
	margin-top: 0px!important;
}

.search-results-header {
	position: absolute;
	top:10px;
	width: 90%;
	padding-left: 10%;
	height:45px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 2em;
	color: #666666;
	
	
}

.contributor-imagebox {
	
	width:100px;
	height: 100px;
	box-sizing: content-box;
	position: absolute;
	top:60px;
	left: 10%;
	background: red;
	display: inline;
	vertical-align: middle;
}

.contributor-image {
	
	width:100px;
	height: 100px;
	box-sizing: content-box;
	position: absolute;
	top:0px;
	left:0px;
	border: thin solid #56B2D7;
	border-radius: 50%;
}


.contributor-name {
	
	position: absolute;
	vertical-align: middle;
	height:100px;
	width: inherit;
	left: 20%;
	top: 60px;
	line-height: 100px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-weight: 200;
	font-size: 1em;
	display: inline;
	
	
}

.search-results-title {
	
	position: absolute;
	top:165px;
	width: 90%;
	padding-left: 10%;
	height:45px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 1.375em;
	color: #666666;
	line-height: 45px;
	vertical-align:0px;
	
}

.search-results-instructions {
	position: absolute;
	top:200px;
	width: 60%;
	padding-left: 10%;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 1em;
	color: #666666;
	line-height: 45px;
	height: inherit;
	overflow-x: hidden;
	overflow-y: hidden;
	margin-bottom: 45px;
	
}

.search-results-vote-buttons {
	position: absolute;
	top:300px;
	width: 60%;
	padding-left: 10%;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 1em;
	color: #666666;
	height: 65px;
	overflow-x: hidden;
	overflow-y: hidden;
	line-height: 65px;
	
	
}

.search-results-vote-title {
	position: absolute;
	top:245px;
	width: 60%;
	padding-left: 10%;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 1em;
	color: #666666;
	height: 65px;
	overflow-x: hidden;
	overflow-y: hidden;
	line-height: 65px;
	
	
	
}

.search-results-header h2 {
	margin: 0px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 1em;
	
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #56B2D7;
    opacity: 0.7; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #56B2D7;
	opacity: 0.7; /* Firefox */
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #56B2D7;
	opacity: 0.7; /* Firefox */
}