body {
margin: 0px;
	padding: 0px;
	font-size: 20px;
	
	
}

.header {
	position: relative;
	top:0px;
	width:100%;
	height:210px;
	background-color: #56B2D7;
	display:inline-flex;
	border-bottom: 2px solid #C7BFB6;
	margin-bottom: 15px;	
}



.header-text {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 3em;
	text-align: center;
	color: ghostwhite;
	position: absolute;
	top:25px;
	width:100%;
	margin-bottom: 15px;
	line-height: 45px;
	font-weight: 500;
	
}

.header-text h1 {
	
	margin: 0px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 1em;
	display: inline;
	vertical-align: middle;
	padding-left: 10px;
	
	
	
}

.search-container {
	
	width:60%;
	height:95px;
	text-align: left;
	position: absolute;
	top:100px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 20%;
	padding-right: 20%;
	
}

.search-text {
	
	width:100%;
	text-align: center;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 1em;
	color: ghostwhite;
	margin-right: auto;
	margin-left: auto;
		
}

.search-box {
	
	width:100%;
	height:65px;
	text-align: center;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 1em;
	color: ghostwhite;
	margin-right: auto;
	margin-left: auto;
		
}

.searchfield {
	height: 65px;
	width: 100%;
	font-family:Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
	color: #000;
	font-size: 1em;
	padding-left: 45px;
	border: thin solid #C7BFB6;
	border-radius:5px;
	background-image: url(../../images/icons/search-icon-25x25-transparent.png);
	background-repeat: no-repeat;
	background-position: 10px 20px;
	overflow-x:hidden;
	margin-bottom: 25px;
	
	
}
.search-results-container {
	
	position: relative;
	top: 0px;
	height: 600px;
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
	background: red;
	
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #56B2D7;
    opacity: 0.7; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #56B2D7;
	opacity: 0.7; /* Firefox */
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #56B2D7;
	opacity: 0.7; /* Firefox */
}