body {
margin: 0px;
	padding: 0px;
	font-size: 20px;
	
	
}

.header {
	position: relative;
	top:0px;
	width:100%;
	height:210px;
	background-color: #56B2D7;
	display:inline-flex;
	border-bottom: 2px solid #C7BFB6;
	
}



.header-text {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 3em;
	text-align: center;
	color: ghostwhite;
	position: absolute;
	top:25px;
	width:100%;
	margin-bottom: 15px;
	line-height: 45px;
	font-weight: 500;
	
}

.header-text h1 {
	
	margin: 0px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 1em;
	display: inline;
	vertical-align: middle;
	padding-left: 10px;
	
	
	
}

.search-container {
	
	width:60%;
	height:auto;
	text-align: left;
	position: absolute;
	top:100px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 20%;
	padding-right: 20%;
	
}

.search-text {
	
	width:100%;
	text-align: center;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 1em;
	color: ghostwhite;
	margin-right: auto;
	margin-left: auto;
	
		
}

.search-box {
	
	width:100%;
	height:auto;
	text-align: center;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 1em;
	color: ghostwhite;
	margin-right: auto;
	margin-left: auto;
		
}

.searchfield {
	height: 65px;
	width: 100%;
	font-family:Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
	color: #000;
	font-size: 1em;
	padding-left: 45px;
	border: thin solid #C7BFB6;
	border-radius:5px;
	background-image: url(../../images/icons/search-icon-25x25-transparent.png);
	background-repeat: no-repeat;
	background-position: 10px 20px;
	overflow-x:hidden;
	margin-bottom: 25px;
	
	
}
.search-results-container {
	
	position: relative;
	top: 0px;
	height: 680px;
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;	
	border-right: solid thin #C7BFB6;
	border-left: solid thin #C7BFB6;
	border-bottom: solid thin #C7BFB6;
	margin-top: 0px!important;
}

.search-results-header {
	position: absolute;
	top:10px;
	width: 90%;
	padding-left: 10%;
	height:45px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 2em;
	color: #666666;
	
	
}

.contributor-imagebox {
	
	width:50px;
	height: 50px;
	box-sizing: content-box;
	position: absolute;
	top:70px;
	left: 10%;
	display: inline;
	vertical-align: middle;
}

.contributor-image {
	
	width:50px;
	height: 50px;
	box-sizing: content-box;
	position: absolute;
	top:0px;
	left:0px;
	border: thin solid #56B2D7;
	border-radius: 50%;
}


.contributor-name {
	
	position: absolute;
	vertical-align: middle;
	height:50px;
	width: inherit;
	left: 180px;
	top: 70px;
	line-height: 50px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-weight: 200;
	font-size: 1em;
	display: inline;
	
	
}

.search-results-title {
	
	position: absolute;
	top:145px;
	width: 90%;
	padding-left: 10%;
	height:45px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 1.375em;
	color: #666666;
	line-height: 45px;
	vertical-align:0px;
	font-weight: 600;
	
}

.search-results-instructions {
	position: absolute;
	top:200px;
	width: 60%;
	padding-left: 10%;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 1em;
	color: #666666;
	line-height: 1.375em;
	height: 300px;
	overflow-x: hidden;
	overflow-y: hidden;
	margin-bottom: 45px;
	text-align: justify;
	
}

.search-results-instructions a:link {color: #3366BB; text-decoration: none;}
.search-results-instructions a:hover {color: #3366BB;text-decoration: none;}
.search-results-instructions a:active {color: #3366BB;text-decoration: none;}
.search-results-instructions a:visited {color: #3366BB;text-decoration: none;}

.numbers {
	vertical-align: 0px;
	display:inline-block;
	width:15px;
	height: 15px;
	background:#56B2D7;
	text-align: center;
	line-height: 13px;
	border-radius: 50%;
	color: ghostwhite;
	padding: 3px;
	border: 1px solid #C7BFB6;
	
	
}

.search-results-vote-buttons {
	position: absolute;
	top:500px;
	width: 60%;
	padding-left: 10%;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 1em;
	color: #666666;
	height: 65px;
	overflow-x: hidden;
	overflow-y: hidden;
	line-height: 65px;
	word-spacing: 65px;
	
	
}

.search-results-vote-title {
	position: absolute;
	top:425px;
	width: 60%;
	padding-left: 10%;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 1em;
	color: #666666;
	height: 65px;
	overflow-x: hidden;
	overflow-y: hidden;
	line-height: 65px;
	text-align: center;
	
}

.vote-summary-container {
	position: absolute;
	top:580px;
	height:35px;
	width:60%;
	padding-left: 10%;
	padding-right: 30%;
	
	
	
}

.vote-summary-upvote {
	position: absolute;
	height:35px;
	width:20%;
	left:10%;	
	line-height: 35px;
	border:solid thin #2dc937;
	text-align: right;
	color:ghostwhite;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-weight: 700;
	border-radius: 5px;
	
	
	
}


.fieldset {
	  margin:0;padding:0; border: 0px;
    
	
}

.search-results-header h2 {
	margin: 0px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 1em;
	
}

.navbar {
	position:absolute;
    width:70%;
	padding-left: 10%;
	padding-right: 20%;
	bottom:2px;
	left:0px;
	height:35px;
	
	
	
}

.navbar a:link {color: #3366BB ;text-decoration: none;}
.navbar a:hover {color: #3366BB ;text-decoration: none;}
.navbar a:active {color: #3366BB ;text-decoration: none;}
.navbar a:visited {color: #3366BB ;text-decoration: none;}



.first-answer {
	
	position: absolute;
	left:10%;
	width:150px;
	height:35px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 1em;
	
}
.next-answer {
	
	position: absolute;
	right:30%;
	width:150px;
	height:35px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 1em;
	
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #56B2D7;
    opacity: 0.7; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #56B2D7;
	opacity: 0.7; /* Firefox */
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #56B2D7;
	opacity: 0.7; /* Firefox */
}