
.fbsignin {
	height: 95px;
	width: 65%;
	margin-top: 0px;
	background-color: #3B5998;
	border: thin solid #FFFEFD;	
	border-radius: 10px;
	font-family: Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
	font-size: 1.75em;
	text-align: left;
	padding-left: 35%;
	color: #FFFEFD;
	font-weight: 100;
	margin-right: auto;
	margin-left: auto;
	line-height: 95px;
	position: relative;
	margin-bottom: 25px;
	text-shadow: 0 0 0px;
	
}
.fbsignin:before {
	font-family: icomoon;
	content: "\f09a";
	position: absolute;
	width: 85px;
	height: 100%;
	left:25px;
	border-right: solid thin #000000;
	padding-right: 15px;
}

.gplussignin {
	height: 95px;
	width: 65%;
	margin-top: 0px;
	background-color: #DD4B39;
	border: thin solid #FFFEFD;	
	border-radius: 10px;
	font-family: Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
	font-size: 1.75em;;
	text-align: left;
	padding-left: 35%;
	color: #FFFEFD;
	font-weight: 100;
	margin-right: auto;
	margin-left: auto;
	line-height: 95px;
	position: relative;
	margin-bottom: 10px;
	text-shadow: 0 0 0px;
	margin-bottom: 25px;
	
}

.gplussignin:before {
   font-family: icomoon;
	content: "\f0d5";
	position: absolute;
	width: 85px;
	height: 100%;
	left:25px;
	border-right: solid thin #000000;
	padding-right: 15px;
	
}
.usemail {
	font-family: Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
	font-size: 1.75em;
	margin-bottom: 0px;
	color: #56B2D7;
	font-weight: bold;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	
}
.usermail {
	height: 55px;
	width: 100%;
	border: thin solid #56B2D7;
	margin-top: 5px;
	border-radius:5px;
	padding-left: 10px;
	font-size: 1em !important;
	font-family:Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
	margin-left: auto;
	margin-right: auto;
	
}

.remember {
	font-family:Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
	font-size: 1.25em;
	margin-bottom: 0px;
	color: #56B2D7;
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
	width: 100%;	
}

.nextbutton {
	font-family: Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
	line-height: 65px;
	height: 75px;
	width: 280px;
	color: #56B2D7;
	font-weight: 700;
	vertical-align: middle;
	background-color: #C8C9CB;
	border: thin solid #56B2D7;
	border-radius:4px;
	cursor: pointer;
}




