
body {
	margin: 0px;
	text-decoration: none;
}
.maincontainer {
	height: 320px;
	width: 100%;
	padding-top: 0px;
	padding-right: 20px;
	padding-bottom: 0px;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
	z-index: 9999;
}
.header {
	height: 25px;
	width: 100%;
	padding: 10px;
	font-family: Impact;
	font-size: 1.25em;
	color: #56B2D7;
	vertical-align: middle;
	line-height: 60px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 25px;
	text-align: center;
		
}
.fbsignin {
	height: 32px;
	width: 70%;
	margin-top: 0px;
	background-color: #3B5998;
	border: thin solid #FFFEFD;	
	border-radius: 5px;
	font-family: Tahoma;
	font-size: 16px;
	text-align: center;
	color: #FFFEFD;
	font-weight: 600;
	margin-right: auto;
	margin-left: auto;
	line-height: 32px;
	position: relative;
	margin-bottom: 10px;
	
}
.fbsignin:before {
	font-family: icomoon;
	content: "\f09a";
	position: absolute;
	width: 20px;
	height: 100%;
	left:5px;
	border-right: solid thin #000000;
	padding-right: 15px;
}

.gplussignin {
	height: 32px;
	width: 70%;
	margin-top: 0px;
	background-color: #DD4B39;
	border: thin solid #FFFEFD;	
	border-radius: 5px;
	font-family: Tahoma;
	font-size: 16px;
	text-align: center;
	color: #FFFEFD;
	font-weight: 600;
	margin-right: auto;
	margin-left: auto;
	line-height: 32px;
	position: relative;
	margin-bottom: 10px;
}

.gplussignin:before {
   font-family: icomoon;
	content: "\f0d5";
	position: absolute;
	width: 20px;
	height: 100%;
	left:5px;
	border-right: solid thin #000000;
	padding-right: 15px;
	
}
.usemail {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 1em;
	margin-bottom: 0px;
	color: #56B2D7;
	font-weight: bold;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}
.usermail {
	height: 35px;
	width: 100%;
	border: thin solid #56B2D7;
	margin-top: 5px;
	border-radius:5px;
	padding-left: 10px;
	font-size: 1em;
	font-family: Tahoma, Geneva, sans-serif;
	margin-left: auto;
	margin-right: auto;
}

.remember {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 1em;
	margin-bottom: 0px;
	color: #56B2D7;
	font-weight: bold;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
}
.next{
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 1em;
	margin-bottom: 0px;
	color: #56B2D7;
	font-weight: bold;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
}
.nextbutton {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 24px;
	line-height: 40px;
	height: 40px;
	width: 160px;
	color: #56B2D7;
	font-weight: 700;
	vertical-align: middle;
	background-color: #C8C9CB;
	border: thin solid #56B2D7;
	border-radius:4px;
	cursor: pointer;
}





