a:link {
	color: #FFC;
	text-decoration: none;
	padding-bottom: 10px;
}
a:visited {
	text-decoration: none;
	color: #FFFFCC
}
a:hover {
	text-decoration: none;
	color: #FFFFCC;
}
a:active {
	text-decoration: none;
	color: #FFFFCC;
}
.completecells {
	display: block;
	width: 300px;
	text-align: center;
	background-color:#56B2D7;
	font-family: Shruti;
	font-size: 18px;
	color: #FFF;
	height: auto;
	font-weight: 600;
	padding-top: 5px;
	padding-bottom: 5px;
	text-decoration: none;
	padding-right: 10px;
	padding-left: 5px;
	}
	.resend {
	width: 200px;
	text-align: center;
	background-color:#C8C9CB;
	font-family: Shruti;
	font-size: 18px;
	color: #56B2D7;
	height: 20px;
	font-weight: bold;
	text-decoration: none;
	margin-right: auto;
	margin-left: auto;
	border: 5px solid #56B2D7;
	border-radius:50px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	}
.sent{
	width: 200px;
	text-align: center;
	background-color:#56B2D7;
	font-family: Shruti;
	font-size: 18px;
	color: #FF0000;
	height: 25px;
	font-weight: bold;
	text-decoration: none;
	margin-right: auto;
	margin-left: auto;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	display: none;
	}
	.sending{
	width: 200px;
	text-align: center;
	background-color:#56B2D7;
	height: 20px;
	text-decoration: none;
	margin-right: auto;
	margin-left: auto;
	display: none;
	background-repeat: no-repeat;
	}
.close {
	margin-top: 10px;
	margin-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 18px;
	line-height: 20px;
	margin-bottom: 15px;
}
#complete a {
	text-decoration: none;
	color: #FFFFCC;
	margin-bottom: 10px;
	font-size: 18px;
	font-family: Tahoma, Geneva, sans-serif;
	line-height: 20px;
	padding-bottom: 10px;
}
.completeexist{
	width:300px;
	overflow: hidden;
	border-radius:5px;
	height: auto;
	text-decoration: none;
	background-color:#56B2D7;
	padding-right: 10px;
	padding-left: 5px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.first-place {
	height: 25px;
	width: 25px;
	display: inline;
	vertical-align: middle;
}
