}
body {
	margin: 0px;
	background-color: #C8C9CB;
	
}
.reviewcontainer {
	height: inherit;
	width: 80%;
	padding-top: 0px;
	padding-right: 20px;
	padding-bottom: 0px;
	margin-right: auto;
	margin-left: auto;
	background-color: #C8C9CB;
	border: thin solid #56B2D7;
	border-radius:10px;
	
}
.reviewform {
	margin: 0px;
	height: inherit;
	width: 100%;
	overflow: hidden;
	
}
.pac-container {
	color: #0000FF;
	background-color: #999;
	z-index:9999;
}
 
/*
class for each line of the result
*/
.pac-item {
	font-size: 12px;
	color: #0000FF;
	font-family: Arial, Helvetica, sans-serif;
}

