.socialicons {
	width: 90%;
	height: 35px;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: 20px;
	margin-left: auto;
	white-space: pre;
	position: relative;
}

#socialicons a:link {
	text-decoration: none;
	color: #FFF;
}
#socialicons a:visited {
		text-decoration: none;
	color: #FFF;
}
#socialicons a:hover {
		text-decoration: none;
	color: #FFF;
}
#socialicons a:active {
		text-decoration: none;
	color: #FFF;
}
.gplus-share {
	text-align: center;
	vertical-align: middle;
	height: 35px;
	width: 35px;
	font-family: Tahoma, Geneva, sans-serif;
	color: #FFF;
	font-size: 20px;
	position: absolute;
	left: 95px;
	top: 0px;
	border-radius:4px;
}
.in-share {
	text-align: center;
	vertical-align: middle;
	height: 26px;
	width: 65px;
	font-family: Tahoma, Geneva, sans-serif;
	color: #FFF;
	font-size: 20px;
	position: absolute;
	left: 75px;
	top: 0px;
	border-radius:4px;
	background-color: #0077B5;
	padding-top: 3px;
}
.tweet-share {
	text-align: center;
	vertical-align: middle;
	font-family: Tahoma, Geneva, sans-serif;
	color: #FFF;
	font-size: 20px;
	position: absolute;
	left: 239px;
	top: -1px;
	border-radius:4px;
	display: run-in;
	height: 31px;
	width: 94px;
}
.in-share:hover{
	background-color: #0369A0;	
	
}

.social_comments {
	height: auto;
	width: 80%;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-right: auto;
	margin-left: auto;
}

.fb_iframe_widget{overflow: hidden;}
.fb_ltr{margin-bottom: -20px;}

@media only screen and (min-width:412px) and (max-width:732px) {
	.socialicons {
	
	height: 35px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 5px;

}

.fb_iframe_widget{overflow: hidden;}
.fb_ltr{margin-bottom: -20px;}

.social_comments {
	
	width: 70%;
	
}
	
}
