.socialicons {
	width: 80%;
	height: 35px;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: 20px;
	margin-left: auto;
	white-space: pre;
	position: relative;
}

#socialicons a:link {
	text-decoration: none;
	color: #FFF;
}
#socialicons a:visited {
		text-decoration: none;
	color: #FFF;
}
#socialicons a:hover {
		text-decoration: none;
	color: #FFF;
}
#socialicons a:active {
		text-decoration: none;
	color: #FFF;
}
.gplus-share {
	text-align: center;
	vertical-align: middle;
	height: 35px;
	width: 35px;
	font-family: Tahoma, Geneva, sans-serif;
	color: #FFF;
	font-size: 20px;
	position: absolute;
	left: 95px;
	top: 0px;
	border-radius:4px;
}
.in-share {
	text-align: center;
	vertical-align: middle;
	height: 26px;
	width: 65px;
	font-family: Tahoma, Geneva, sans-serif;
	color: #FFF;
	font-size: 20px;
	position: absolute;
	left: 75px;
	top: 0px;
	border-radius:4px;
	background-color: #0077B5;
	padding-top: 3px;
}
.in-share:hover{
	background-color: #0369A0;	
	
}
