
.comment-header {
	width: 100%;
	font-family:Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
	font-size: 1em;
	font-weight: 700;
	height: auto;
	color: #000;
	margin-top: 10px;
	margin-bottom: 0px;

}

.social_comments {
	height: 100px;
	width: 100%;
	margin-top: 15px;
	margin-bottom: 15px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFF;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #FFF;
	position: relative;
}
.social-comment-box {
	width: 100%;
	height: 85px;
	margin-top: 5px;
	margin-bottom: 0px;
	border-top-width: thin;
	border-right-width: thin;
	border-left-width: thin;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #333;
	border-right-color: #333;
	border-left-color: #333;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	resize: none;
	padding-top: 5px;
	padding-right: 5%;
	padding-bottom: 0px;
	padding-left: 5%;
	overflow-x: hidden;
	overflow-y: auto;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 1em;
}
.social-comment-btn-container {
	width: 100%;
	height: 60px;
	margin-top: 0px;
	margin-bottom: 15px;
	border-right-width: thin;
	border-bottom-width: thin;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #333;
	border-bottom-color: #333;
	border-left-width: thin;
	border-left-style: solid;
	border-left-color: #333;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	background-color: #FFF;
	text-align: right;
	padding-top: 6px;
	padding-bottom: 3px;
}
.social-comment-logged-in-btn {
	font-family: Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
	font-size: 1.25em;
	color: #FFF;
	background-color: #0077B5;
	height: 25px !important;
	width: 90px !important;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	margin-right: 15px;
	cursor: pointer;
	border: thin solid #333;
	border-radius:2px;
}
.social-comment-not-logged-in-btn {
	font-family:Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
	font-size: 1.25em;
	color: #FFF;
	background-color: #0077B5;
	height: 25px !important;
	width: 154px !important;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	margin-right: 15px;
	cursor: pointer;
	border: thin solid #333;
	border-radius:2px;
}

#btn_signin {
	height: 45px !important;
	width: 164px !important;
	font-size: 22px !important;
	font-weight: bold !important;
	
}

#post-comment {
	height: 45px !important;
	width: 164px !important;
	font-size: 22px !important;
	font-weight: bold !important;
	
}


textarea::-webkit-input-placeholder {
color: #0077B5;
font-weight:bold;
}

textarea:-moz-placeholder { /* Firefox 18- */
color: #0077B5;
font-weight:bold;  
}

textarea::-moz-placeholder {  /* Firefox 19+ */
color: #0077B5;
font-weight:bold;  
}

textarea:-ms-input-placeholder {
color: #0077B5; 
font-weight:bold; 
}

.reviewcomments {
	width: 80%;
	height: auto;
	margin-right: auto;
	margin-bottom: 25px;
	margin-left: auto;
	font-family:Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
	font-size: 1em;
	line-height: 1.25em;
	color: #000;
	text-align: left;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 20px;

	}
	.commenter {
	font-family:Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
	font-size: 0.9em;
	font-weight: bold;
	color: #1B95E0;

}


.social-share-container {
	width: 100%;
	position: relative;
	
	
}

.share-icons {
	
	position: absolute;
	width: 30%!important;
	
}


.like-action {
	position: absolute;
	top: 0px;
	left: 350px;
	width: 50px;
	height: 60px;
	line-height: 50px;
	font-family: Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
	font-size: 3em;
	color: #222;
	font-weight: 600;
	text-shadow: -1px -1px 1px red, 1px 1px 1px #000;
	text-align: center;
	display: inline;
	margin-left: 10px;
	    
		
}

.like-count {padding-left: 4px; font-size: 0.5em!important;vertical-align: bottom;color: #6EADC1; font-weight: 700;}




