/* CSS Document */

.uploader {
	height: 24px;
	width: 100%;
	margin-left: 10px;
	font-family: Shruti;
	color: #FFF;
	font-size: 17px;
	line-height: 24px;
	text-indent: 28;
	margin-right: 220px;
	margin-top: 5px;
	vertical-align: middle;
	margin-bottom: 15px;
	display: none;
}
.indicator {
	vertical-align: middle;
	height: 24px;
	width: 24px;
	margin-right: 5px;
}
label[for=files] {
	cursor: pointer;
	}
.profilephoto {
	height: auto;
	width: auto;
	max-height:100px;
	max-width:100px;
	border: thin solid #56B2D7;
	border-radius: 50%;
}
#register #formcontainer .imagebox label img {
	height: auto;
	width: auto;
	border: thin solid #C8C9CB;	
	border-radius:50%;
}

#files {
   opacity: 0;
   position: absolute;
   z-index: -1;
}
.logoloaderrors {
	height: auto;
	width: 100%;
	list-style-type: none;
	font-family: Shruti;
	color: #FFF;
	font-size: 1em;
}
li {
	list-style-type: none;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 1em;
}
ol {
	list-style-type: none;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 1em;
}
