/* CSS Document */

.uploader {
	height: 24px;
	width: 100%;
	margin-left: 10px;
	font-family: Shruti;
	color: #FFF;
	font-size: 17px;
	line-height: 24px;
	text-indent: 28;
	margin-right: 220px;
	margin-top: 5px;
	vertical-align: middle;
	margin-bottom: 15px;
	display: none;
}
.indicator {
	vertical-align: middle;
	height: 24px;
	width: 24px;
	margin-right: 5px;
}
label[for=files] {
	cursor: pointer;
	}
#register #formcontainer .imagebox label img {
	height: auto;
	width: auto;
	border: thin solid #C8C9CB;	
	border-radius:50%;
}

#files {
   opacity: 0;
   position: absolute;
   z-index: -1;
}

li {
	list-style-type: none;
	font-family:Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
	font-size: 1em;
}
ol {
	list-style-type: none;
	font-family:Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
	font-size: 1em;
}
