@import url("../../webfonts/icomoon/stylesheet.css");


.ui-dialog-titlebar {
	background: #6DACC0;
	border:#FFFEFD;
		
	}

.ui-dialog .ui-dialog-titlebar-close {
    right:5px;
	background: #6DACC0;
	border:0px;
	}	


.ui-icon-closethick {
    background-image: url(images/my-10px-image.png) !important;
    background-position: left top !important;
    margin: 0 !important;
}

.ui-dialog .ui-dialog-titlebar-close, .ui-icon-closethick {
    width: 10px !important;
    height: 10px !important;
}

.ui-dialog .ui-dialog-titlebar-close {
    background: none !important;
    border: none !important;
}

.ui-dialog .ui-dialog-titlebar-close, .ui-dialog .ui-dialog-titlebar-close:hover {
    padding: 0 !important;
}



.ui-dialog .ui-dialog-titlebar {
		font-weight: normal;
	text-shadow: 0 0px 0;
		
	}
.confirm {text-align: center;}
	#confirm a:active {text-decoration: none; color: cornflowerblue}
	#confirm a:visited {text-decoration: none;color: cornflowerblue}
	#confirm a:hover {text-decoration: none;color: cornflowerblue}
	#confirm a:link {text-decoration: none;color: cornflowerblue}
	
body {margin:0px;}
