@import url("../../webfonts/icomoon/stylesheet.css");

.ui-page .ui-header {
    background: #6EADC1 !important;
	height: 150px;
	position: relative;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 3em !important;
	text-shadow: 0 0 0px !important;
}

.ui-page .ui-header a:link {text-decoration: none; color: #FFFEFD;}
.ui-page .ui-header a:active {text-decoration: none; color: #FFFEFD}
.ui-page .ui-header a:hover {text-decoration: none; color: #FFFEFD}
.ui-page .ui-header a:visited {text-decoration: none; color: #FFFEFD}

h4 a:link {text-decoration: none; color: #FFFEFD !important;}
h4 a:active {text-decoration: none; color: #FFFEFD !important}
h4 a:hover {text-decoration: none; color: #FFFEFD !important;text-decoration: underline;}
h4 a:visited {text-decoration: none; color: #FFFEFD !important}

	.ui-page .ui-footer {
    background: #6EADC1 !important;
		position: absolute;
		bottom: 0px;
		width: 100%;
		height: 85px;
		    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 2em !important;
	text-shadow: 0 0 0px !important;
		
}

.ui-footer .ui-title {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 1.25em !important;
	text-shadow: 0 0 0px !important;
	text-align: left;
	
}
.header {
	width: 100%;
	height: 65px;
	background-color: #6EADC1;
	margin-right: auto;
	margin-left: auto;
}
#index-page .header h1 {
	color: #FFFEFD;
	font-family: Tahoma;
	font-style: normal;
	font-weight: 500;
	font-size: 1.25em;
	white-space: normal;
	vertical-align: middle;
	text-align: center;
	text-shadow: 1px 1px #C7BFB6;
	
}
.social-user-image {
	width: 100px;
	height: 100px;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	top: 25px;
	right: 3%;
	border-radius: 50%;
	border: 1px solid #C7BFB6;
	position: absolute;
	vertical-align: middle;
	cursor: pointer;
	text-align: center;
	
	
}

.social-user-messages {
	width: 100px;
	height: 100px;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	top: 25px;
	right: 17%;
	position: absolute;
	vertical-align: middle;
	cursor: pointer;
	text-align: center;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 2em;	
}


#socialuserimage img{
	width: 100px;
	height: 100px;
	border-radius:50%;
	
	
}
.social-user-image:before {
	font-family: icomoon;
	content: "\f0d7";
	font-size: 20px;
	color: #FBFBFB;
	position: absolute;
	right: 0px;
	top: 0px;
	
}

.site-header-logo {
	width: 100px;
	height: 100px;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	top: 25px;
	left: 5%;
	border-radius: 50%;
	border: 1px solid #FFFEFD;
	position: absolute;
	vertical-align: middle;
	cursor: pointer;

}
.social-user-signin {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 1em !important;
	font-weight: normal;
	width: auto;
	height: 36px;
	cursor: pointer;
	text-shadow: 0 0 0px;
	white-space: nowrap;
	position: absolute;
	right: 15% !important;
	top: 51px !important;;
	
	
}

.maincontent {
	
	width: 90%;
	height: 700px;
	margin: 0px;
	position: relative;
	margin-right: auto;
	margin-left: auto;
	padding-right: 5px;
	
	}
.logo-banner {
	
	position: absolute;
	top:25px;
	width: 100%;
	height: 230px;
	background-image: url(../images/logos/banner.svg);
	background-repeat: no-repeat;
	
}

.app-title {	
	width: 100%;
 	height: 45px;
	text-align: center;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 1.75em;
	line-height: 45px;
	color: #6EADC1;
	font-weight: 800;
	position: absolute;
	top: 265px;
	left: 0px;
	padding: 0px;
}

.app-taggline {
		width: 100%;
 	height: 45px;
	text-align: center;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 1.375em;
	line-height: 45px;
	color: #000000;
	font-weight: 800;
	position: absolute;
	top: 310px;
	left: 0px;
	padding: 0px;
	
}

#tagline h2 {margin:0px!important; padding: 0px !important;}




#maintitle h1 {margin:0px!important; padding: 0px !important;}

.option-chooser {
	width: 100%;
	height: 200px;
	position: relative;
	margin-top: 10px;
	margin-bottom: 10px;
	top:355px;
	margin-right: auto;
	margin-left: auto;
}
.choose-review {
	width: 40%;
	height: 200px;
	text-align: center;
	vertical-align: middle;
	position: absolute;
	border: thin solid #FFF;
	left: 5%;
	top: 0px;
	line-height: 300px;
	background-color: #6EADC1;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	color: #FFFFFF;
	font-size: 1.375em !important;
	margin-right: 5%;
	border-radius:10px;
	background-image: url(../images/icons/house-outline-bg.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	text-shadow: 0 0 0px; 
	font-weight: 900;
	}
#choosereview a:link {
	text-decoration: none;
	color: #55B5CE;
	
}
#choosereview a:visited {
	text-decoration: none;
	color: #55B5CE;
	
	
}
#choosereview a:active {
	text-decoration: none;
	color: #55B5CE;
	
	
}
#choosereview a:hover {
	text-decoration: none;
	color: #55B5CE;
	
	
}
.choose-view {
	width: 40%;
	height: 200px;
	text-align: center;
	vertical-align: middle;
	position: absolute;
	border: thin solid #FFF;
	left: 50%;
	top: 0px;
	line-height: 300px;
	background-color: #6EADC1;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	color: #FFFFFF;
	font-size: 1.375em !important;
	margin-right: 5%;
	border-radius:15px;
	background-image: url(../images/icons/house-outline-bg.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	text-shadow: 0 0 0px; 
	font-weight: 900;
}
#chooseview  a:link {
	text-decoration: none;
	color: #55B5CE;
	
}
#chooseview  a:visited {
	text-decoration: none;
	color: #55B5CE;
	
	
}
#chooseview  a:active {
	text-decoration: none;
	color: #55B5CE;
	
	
}
#chooseview  a:hover {
	text-decoration: none;
	color: #55B5CE;
	
	
}


