@import url("../../webfonts/icomoon/stylesheet.css");

.ui-page .ui-header {
    background: #6EADC1 !important;
	height: 150px;
	position: relative;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 3em !important;
	text-shadow: 0 0 0px !important;
}

.ui-page .ui-header a:link {text-decoration: none; color: #FFFEFD;}
.ui-page .ui-header a:active {text-decoration: none; color: #FFFEFD}
.ui-page .ui-header a:hover {text-decoration: none; color: #FFFEFD}
.ui-page .ui-header a:visited {text-decoration: none; color: #FFFEFD}

h4 a:link {text-decoration: none; color: #FFFEFD !important;}
h4 a:active {text-decoration: none; color: #FFFEFD !important}
h4 a:hover {text-decoration: none; color: #FFFEFD !important;text-decoration: underline;}
h4 a:visited {text-decoration: none; color: #FFFEFD !important}

	.ui-page .ui-footer {
    background: #6EADC1 !important;
		position: absolute;
		bottom: 0px;
		width: 100%;
		height: 85px;
		    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 2em !important;
	text-shadow: 0 0 0px !important;
		
}

.ui-footer .ui-title {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 1.25em !important;
	text-shadow: 0 0 0px !important;
	text-align: left;
	
}
.header {
	width: 100%;
	height: 65px;
	background-color: #6EADC1;
	margin-right: auto;
	margin-left: auto;
}
#index-page .header h1 {
	color: #FFFEFD;
	font-family: Tahoma;
	font-style: normal;
	font-weight: 500;
	font-size: 1.25em;
	white-space: normal;
	vertical-align: middle;
	text-align: center;
	text-shadow: 1px 1px #C7BFB6;
	
}
.social-user-image {
	width: 100px;
	height: 100px;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	top: 25px;
	right: 5%;
	border-radius: 50%;
	border: 1px solid #C7BFB6;
	position: absolute;
	vertical-align: middle;
	cursor: pointer;
	text-align: center;
	
}
#socialuserimage img{
	width: 100px;
	height: 100px;
	border-radius:50%;
	
	
}
.social-user-image:before {
	font-family: icomoon;
	content: "\f0d7";
	font-size: 20px;
	color: #FBFBFB;
	position: absolute;
	right: 0px;
	top: 0px;
	
}

.site-header-logo {
	width: 100px;
	height: 100px;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	top: 25px;
	left: 5%;
	border-radius: 50%;
	border: 1px solid #FFFEFD;
	position: absolute;
	vertical-align: middle;
	cursor: pointer;

}
.social-user-signin {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 1em !important;
	font-weight: normal;
	width: auto;
	height: 36px;
	cursor: pointer;
	text-shadow: 0 0 0px;
	white-space: nowrap;
	position: absolute;
	right: 15% !important;
	top: 51px !important;;
	
	
}


