.latest-reviews {
	
	width: 100%;
	height: 240px;
	position: relative;
	margin-bottom: 45px;
	top: 355px;
	margin-right: auto;
	margin-left: auto;
	
}

.latest-reviews-header {
	position: relative;
	top: 355px;
	left:0px;
	height: 55px;
	width: 100%;
	text-align: center;
	font-weight: 800;
	line-height: 45px;
	color: #6EADC1;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 2em!important;
	font-kerning: auto;
	text-shadow: 0 0 0px;
				
	
}
#latest-reviews h3 {
	margin: 0px;
	padding: 0px;
	font-size: 1.5em!important;
	
}

.latest-reviews-image-banner {
	position: absolute;
	top:55px;
	left: 0px;
	width: 30%;
	height: 100%;
	background-color: aqua;
	text-align: center;		
	}

.reviewimage {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
		
	}
.review-address {
	position: absolute;
	top: 55px;
	left: 30%;
	width: 60%;
	padding-left: 10%;
	height: 60px;
	line-height: 55px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 1.5em;
	color: #222;
	font-weight: 600;
	text-shadow: 0 0 0px;
	
}

.review-address:before {
	font-family: icomoon;
	content: "\f2bb";
	position: absolute;
	left:15px;
	font-size: 1.7em;
	
	
}

.review-author {
	position: absolute;
	top: 115px;
	left: 30%;
	width: 60%;
	padding-left: 10%;
	height: 60px;
	line-height: 55px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 1.5em;
	color: #222;
	font-weight: 600;
	text-shadow: 0 0 0px;
	
}

.review-author:before {
	font-family: icomoon;
	 content: "\f2c0";
	position: absolute;
	left:15px;
	font-size: 1.7em;
	
	
}

.review-rating {
	position: absolute;
	top: 175px;
	left: 30%;
	width: 60%;
	padding-left: 10%;
	height: 60px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	color: #222;
	font-weight: 600;
	text-shadow: 0 0 0px;
			
}

.review_count {
	
	vertical-align: top;
	color: #6EADC1;
}

.review-rating:before {
	font-family: icomoon;
	 content: "\f006";
	position: absolute;
	left:15px;
	font-size: 56px;
	vertical-align: middle;
	
	
}
.review-actions {
	position: absolute;
	top: 235px;
	left: 30%;
	width: 60%;
	height: 60px;
	line-height: 55px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 1.5em;
	color: #222;
	font-weight: 600;
	text-shadow: 0 0 0px;
	
}

.like-action {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 25%;
	height: 60px;
	line-height: 60px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 1.5em;
	color: #222;
	font-weight: 600;
	text-shadow: 0 0 0px;
	text-align: center;
		
}

.like-count {font-size: 1em!important;vertical-align: bottom;color: #6EADC1; font-weight: 700;}

.comment-action {
	position: absolute;
	top: 0px;
	left: 25%;
	width: 25%;
	height: 60px;
	line-height: 60px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 1.5em;
	background-color:yellow;
	color: #222;
	font-weight: 600;
	text-shadow: 0 0 0px;
	text-align: center;
	
}

.impression-action {
	position: absolute;
	top: 0px;
	left: 50%;
	width: 25%;
	height: 60px;
	line-height: 60px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 1.5em;
	background-color:tomato;
	color: #222;
	font-weight: 600;
	text-shadow: 0 0 0px;
	text-align: center;
	
}

.share-action {
	position: absolute;
	top: 0px;
	left: 75%;
	width: 25%;
	height: 60px;
	line-height: 60px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 1.5em;
	background-color:teal;
	color: #222;
	font-weight: 600;
	text-shadow: 0 0 0px;
	text-align: center;
	
}



