.social-user-menu {
	width: 60%;
	height: 240px;
	position: absolute;
	top: 150px;
	padding: 0px;
	right:5%;
	background-color: #C8C8C8;
	border: thin solid #6EADC1;
	display: none;
	z-index: 9999;
}


.social-user-profile {
	width: 70%;
	height: 50px;
	color: #6DACC0;
	font-size: 1em;
	line-height: 50px;
	text-align: left;
	position: absolute;
	padding-left: 30%;
	padding-bottom: 20px;
	padding-top: 10px;
	top: 0px;
	left: 0px;
	border-bottom: thin solid #6DACC0;
	font-family: Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
	text-decoration: none;
	text-shadow: 0px 0px;
	cursor: pointer;
	font-weight:700;
}
.social-user-profile:before {
	font-family: icomoon;
	content: "\f085";
	color: #FFFEFD;
	font-size: 0.9em;
	text-align: center;
	vertical-align: 40px;
	position: absolute;
	left: 55px;
	
}
.social-user-reviews {
	width: 70%;
	height: 50px;
	color: #6DACC0;
	font-size: 1em;
	line-height: 50px;
	text-align: left;
	position: absolute;
	padding-left: 30%;
	padding-bottom: 20px;
	padding-top: 10px;
	top: 80px;
	left: 0px;
	border-bottom: thin solid #6DACC0;
	font-family: Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
	text-decoration: none;
	text-shadow: 0px 0px;
	cursor: pointer;
	font-weight:700;
}
.social-user-reviews:before {
	font-family: icomoon;
	content: "\f040";
	color: #FFFEFD;
	font-size: 0.9em;
	text-align: center;
	vertical-align: 40px;
	position: absolute;
	left: 55px;
	
}
.social-user-signout {
	width: 70%;
	height: 50px;
	color: #6DACC0;
	font-size: 1em;
	line-height: 50px;
	text-align: left;
	position: absolute;
	padding-left: 30%;
	padding-bottom: 20px;
	padding-top: 10px;
	top: 160px;
	left: 0px;
	border-bottom: thin solid #6DACC0;
	font-family: Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
	text-decoration: none;
	text-shadow: 0px 0px;
	cursor: pointer;
	font-weight:700;
}
.social-user-signout:before {
	font-family: icomoon;
	 content: "\f08b";
	color: #FFFEFD;
	font-size: 0.9em;
	text-align: center;
	vertical-align: 40px;
	position: absolute;
	left: 55px;
	
}

.social-user-signin {
	top: 20px;
	right: 5%;
	width: 70px;
	height: 20px;
	position: absolute;
	vertical-align: middle;
	cursor: pointer;
	color: #F7F7F7;
	font-family: Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
	font-size: 18px;
	border: 0px;
	}

.social-user-message-menu {
	width: 80%;
	height: 240px;
	position: absolute;
	top: 150px;
	padding: 0px !important;
	right:10%;
	background-color: #C8C8C8;
	border: thin solid #6EADC1;
	display: none;
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 9999;
}

#usermessagemenu ul {
	list-style-type: none;
	width: 100%;
	padding: 0px !important;
	margin: 0px !important;
	
	
}

#usermessagemenu ul li {
	width: 100%;
	padding-left: 20%;
	text-align: left;
	color: #6EADC1;
	font-weight: 500;
	font-size: 1em;
	height:90px;
	line-height: 90px;
	border-bottom: solid thin #6EADC1;
	}

#usermessagemenu ul li:before {
    font-family: icomoon;
	content: "\f2b7";
	font-size: 1em;
	font-weight: 700;
	position: absolute;
	left:40px;
	color: #FBF3F3;
	border-bottom: solid thin #6EADC1;
	padding-left: 0px;
	margin-left: 0px;
	
}

#usermessagemenu a:link {
	color: #6EADC1;
	text-decoration: none;

	}#usermessagemenu a:visited {
	color: #6EADC1;
	text-decoration: none;

	}#usermessagemenu a:hover {
	color: #FFFEFD;
	text-decoration: none;

	}#usermessagemenu a:active {
	color: #6EADC1;
	text-decoration: none;

	}





