.social-user-menu {
	width: 60%;
	height: 240px;
	position: absolute;
	top: 150px;
	padding: 0px;
	right:5%;
	background-color: #C8C8C8;
	border: thin solid #6EADC1;
	display: none;
}


.social-user-profile {
	width: 70%;
	height: 50px;
	color: #6DACC0;
	font-size: 1em;
	line-height: 50px;
	text-align: left;
	position: absolute;
	padding-left: 30%;
	padding-bottom: 20px;
	padding-top: 10px;
	top: 0px;
	left: 0px;
	border-bottom: thin solid #6DACC0;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	text-decoration: none;
	text-shadow: 0px 0px;
	cursor: pointer;
	font-weight:700;
}
.social-user-profile:before {
	font-family: icomoon;
	content: "\f085";
	color: #FFFEFD;
	font-size: 0.9em;
	text-align: center;
	vertical-align: 40px;
	position: absolute;
	left: 55px;
	
}
.social-user-reviews {
	width: 70%;
	height: 50px;
	color: #6DACC0;
	font-size: 1em;
	line-height: 50px;
	text-align: left;
	position: absolute;
	padding-left: 30%;
	padding-bottom: 20px;
	padding-top: 10px;
	top: 80px;
	left: 0px;
	border-bottom: thin solid #6DACC0;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	text-decoration: none;
	text-shadow: 0px 0px;
	cursor: pointer;
	font-weight:700;
}
.social-user-reviews:before {
	font-family: icomoon;
	content: "\f040";
	color: #FFFEFD;
	font-size: 0.9em;
	text-align: center;
	vertical-align: 40px;
	position: absolute;
	left: 55px;
	
}
.social-user-signout {
	width: 70%;
	height: 50px;
	color: #6DACC0;
	font-size: 1em;
	line-height: 50px;
	text-align: left;
	position: absolute;
	padding-left: 30%;
	padding-bottom: 20px;
	padding-top: 10px;
	top: 160px;
	left: 0px;
	border-bottom: thin solid #6DACC0;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	text-decoration: none;
	text-shadow: 0px 0px;
	cursor: pointer;
	font-weight:700;
}
.social-user-signout:before {
	font-family: icomoon;
	 content: "\f08b";
	color: #FFFEFD;
	font-size: 0.9em;
	text-align: center;
	vertical-align: 40px;
	position: absolute;
	left: 55px;
	
}

.social-user-signin {
	top: 20px;
	right: 5%;
	width: 70px;
	height: 20px;
	position: absolute;
	vertical-align: middle;
	cursor: pointer;
	color: #F7F7F7;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 18px;
	border: 0px;
	}

.social-user-message-menu {
	width: 70%;
	height: 240px;
	position: absolute;
	top: 150px;
	padding: 0px;
	right:17%;
	background-color: #C8C8C8;
	border: thin solid #6EADC1;
	display: none;
	overflow-x: hidden;
	overflow-y: auto;
}
.social-user-message-listitems {
	
	width: 100%;
	height: 60px;
	position: absolute;
	top:0px;
	left:0px;
	
	
}

#usermessagemenu ul {
	list-style-type: none;
	
	
}

#usermessagemenu ul li {
	width: 100%;
	padding-left: 0px;
	text-align: center;
	color: #6EADC1;
	font-weight: 500;
	font-size: 1em;
	
	
}



