
body {
	margin: 0px;
}

body {
	margin: 0px;
	background-color: #C8C9CB;
	overflow: hidden;	
	font-size: 20px;
}
.reviewcontainer {
	height: inherit;
	width: 600px;
	padding-bottom: 10px;
	margin-right: auto;
	margin-left: auto;

}
.searchbox {
	height: auto;
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
}

.formheader {
	height: 30px;
	width: 100%;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 1.5em;
	color: #56B2D7;
	vertical-align: middle;
	line-height: 30px;
	margin-bottom: 15px;
}
.fieldlabels {
	font-family:Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
	color: #666;
	width: 100%;
	margin-bottom: 0px;
	font-weight: 400;
}

.formfields {
	width: 100%;
	font-weight: bolder;
	margin-top: 5px;
	color: #FFFFCC;
}
.stepfields {
	font-family:Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
	font-size: 1.35em;
	font-weight: bolder;
	color: #56B2D7;
	height: 20px;
	width: 100%;
	margin-bottom: 15px;
}
.searchfield {
	height: 65px;
	width: 100%;
	font-family:Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
	color: #000;
	font-size: 1em;
	padding-left: 45px;
	border: thin solid #56B2D7;
	border-radius:5px;
	background-image: url(../../images/icons/search-icon-25x25-transparent.png);
	background-repeat: no-repeat;
	background-position: 10px 20px;
	overflow-x:hidden;
	margin-bottom: 25px;
}
.addressfield {
	font-family:Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
	font-size: 1.25em;
	height: 20px;
	width: 100%;
	font-weight: 700;
	padding-left: 15px;
	text-align: left;
	margin-top: 10px;
	margin-left: 10px;
	color: #FFF;
}

.streetaddress {
	width: 100%;
	position: relative;
	height: 25px;
	margin-bottom: 15px;
}
.provincecode {
	width: 100%;
	position: relative;
	height: 25px;
	margin-bottom: 15px;
}
.streetnumber {
	width: 25%;
	position: absolute;
	left: 25px;
}
.streetnr {
	height: 25px;
	width: 45px;
	border: thin solid #56B2D7;
	border-radius:5px;
	padding-left: 5px;
	font-size: 1em;
	font-family:Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
}

.streetname {
	position: absolute;
	left: 85px;
	width: 75%;
}


.streetnm {
	height: 25px;
	width: 270px;
	border: thin solid #56B2D7;
	border-radius:5px;
	padding-left: 5px;
	font-size: 1em;
	font-family:Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
}
.imagebox {
	width: 100%;
	margin-left: 45px;
}



.inputfields {
	height: 35px;
	width: 250px;
	border: thin solid #56B2D7;
	margin-top: 5px;
	margin-left: 10px;
	border-radius:5px;
	padding-left: 10px;
	font-size: 1em;
	font-family:Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
}
.accpetfield {
	font-family:Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
	width: 100%;
	font-weight: bold;
	font-size: 1em;
	margin-top: 2px;
	color: #666666;
	text-align: justify;
	line-height: 1.25em;
	}
.accepttext {
	text-align: left;
	display: inline;
	width: 80%;
	word-spacing: 0.1em;
}
.nextbutton {
	font-family:Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
	font-size: 24px;
	line-height: 40px;
	height: 40px;
	width: 180px;
	margin-top: 10px;
	margin-left: 25px;
	color: #56B2D7;
	font-weight: 700;
	vertical-align: middle;
	background-color: #C8C9CB;
	border: thin solid #56B2D7;
	border-radius:4px;
	cursor: pointer;
	text-align: center;
}
.deactivate {
	font-family:Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
	color: #FFF;
	background-color: #FE8374;
	font-size: 1em;
	height: 20px;
	width: 60%;
	margin-right: auto;
	margin-left: auto;
	border: thin solid #FFF;
	margin-top: 15px;
	margin-bottom: 15px;
	border-radius:10px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}
.danger {
	font-family:Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
	font-size: 1em;
	font-weight: bold;
	color: #F00;
	height: auto;
	width: 100%;
	padding-left: 45px;
}

