@charset "utf-8";
}
body {
	margin: 0px;
}
.form {
	width: auto;
	overflow-x: hidden;
	overflow-y: hidden;
}
.formcontainer {
	height: inherit;
	width: 380px;
	padding-top: 0px;
	padding-right: 20px;
	padding-bottom: 0px;
	margin-right: auto;
	margin-left: auto;
	background-color: #C8C9CB;
	border-radius:5px;
	border: thin solid #56B2D5;
	overflow-x: hidden;
	overflow-y: hidden;
}
.formheader {
	height: 30px;
	width: 100%;
	background-color: #C8C9CB;
	font-family: Impact;
	font-size: 2em;
	color: #56B2D7;
	vertical-align: middle;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 15px;
}
.fieldlabels {
	font-family: Tahoma, Geneva, sans-serif;
	color: #FFFFCC;
	width: 100%;
	margin-bottom: 0px;
	padding-left: 25px;
	font-weight: bolder;
}
.stepfields {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 1.35em;
	font-weight: bolder;
	color: #56B2D7;
	height: 20px;
	width: 100%;
	padding-left: 15px;
	padding-bottom: 10px;
}
.searchfield {
	width: 320px;
	height: 25px;
	padding-left: 15px;
	border: thin solid #56B2D7;
	border-radius:5px;
}
.streetaddress {
	width: 100%;
	position: relative;
	height: 25px;
	margin-bottom: 15px;
}
.provincecode {
	width: 100%;
	position: relative;
	height: 25px;
	margin-bottom: 15px;
}
.streetnumber {
	width: 25%;
	position: absolute;
	left: 25px;
}
.streetnr {
	height: 25px;
	width: 45px;
	border: thin solid #56B2D7;
	border-radius:5px;
	padding-left: 5px;
	font-size: 1em;
	font-family: Tahoma, Geneva, sans-serif;
}

.streetname {
	position: absolute;
	left: 85px;
	width: 75%;
}


.streetnm {
	height: 25px;
	width: 270px;
	border: thin solid #56B2D7;
	border-radius:5px;
	padding-left: 5px;
	font-size: 1em;
	font-family: Tahoma, Geneva, sans-serif;
}
.imagebox {
	width: 100%;
	margin-left: 45px;
}


.formfields {
	font-family: Tahoma, Geneva, sans-serif;
	width: 100%;
	margin-bottom: 10px;
	padding-left: 25px;
	font-weight: bolder;
	font-size: 1em;
	margin-top: 2px;
	color: #FFFFCC;
}
.inputfields {
	height: 35px;
	width: 250px;
	border: thin solid #56B2D7;
	margin-top: 5px;
	margin-left: 10px;
	border-radius:5px;
	padding-left: 10px;
	font-size: 1em;
	font-family: Tahoma, Geneva, sans-serif;
}
.accpetfield {
	font-family: Tahoma, Geneva, sans-serif;
	width: 70%;
	margin-bottom: 20px;
	padding-left: 25px;
	font-weight: bold;
	font-size: 0.8em;
	margin-top: 2px;
	color: #FFFFFF;
	text-align: justify;
	line-height: 1.25em;
	margin-left: 15px;
}
.accepttext {
	text-align: left;
	display: inline;
	width: 80%;
	word-spacing: 0.1em;
}
.nextbutton {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 24px;
	line-height: 40px;
	height: 40px;
	width: 180px;
	margin-top: 10px;
	margin-left: 25px;
	color: #56B2D7;
	font-weight: 700;
	vertical-align: middle;
	background-color: #C8C9CB;
	border: thin solid #56B2D7;
	border-radius:4px;
	cursor: pointer;
	text-align: center;
}
.deactivate {
	font-family: Tahoma, Geneva, sans-serif;
	color: #FFF;
	background-color: #FE8374;
	font-size: 1em;
	height: 20px;
	width: 60%;
	margin-right: auto;
	margin-left: auto;
	border: thin solid #FFF;
	margin-top: 15px;
	margin-bottom: 15px;
	border-radius:10px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}
.danger {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 1em;
	font-weight: bold;
	color: #F00;
	height: auto;
	width: 100%;
	padding-left: 45px;
}

@media only screen and (min-width:412px) and (max-width:732px) {
.searchfield {
	width: 260px;
	height: 45px;
	padding-left: 15px;
	border: thin solid #56B2D7;
	border-radius:5px;
}

.fieldlabels {
	padding-left: 10px;
	
}

.stepfields {
	padding-left: 10px;
	
}

.formfields {
margin-left: 0px;
}
	
}
