@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?g424xj');
  src:  url('fonts/icomoon.eot?g424xj#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?g424xj') format('truetype'),
    url('fonts/icomoon.woff?g424xj') format('woff'),
    url('fonts/icomoon.svg?g424xj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-neutral4:before {
  content: "\e913";
}
.icon-neutral3:before {
  content: "\e912";
}
.icon-neutral2:before {
  content: "\e911";
}
.icon-neutral:before {
  content: "\e910";
}
.icon-info:before {
  content: "\e90f";
}
.icon-bubble:before {
  content: "\e90e";
}
.icon-stats-bars:before {
  content: "\e90d";
}
.icon-stats:before {
  content: "\e90d";
}
.icon-statistics:before {
  content: "\e90d";
}
.icon-chart:before {
  content: "\e90d";
}
.icon-sad:before {
  content: "\e90c";
}
.icon-bell:before {
  content: "\e90b";
}
.icon-location:before {
  content: "\e909";
}
.icon-location2:before {
  content: "\e90a";
}
.icon-checkmark:before {
  content: "\e906";
}
.icon-checkmark2:before {
  content: "\e907";
}
.icon-checkbox-checked:before {
  content: "\e908";
}
.icon-cancel-circle:before {
  content: "\e904";
}
.icon-cross:before {
  content: "\e905";
}
.icon-smile:before {
  content: "\e903";
}
.icon-home2:before {
  content: "\e900";
}
.icon-home3:before {
  content: "\e901";
}
.icon-home4:before {
  content: "\e902";
}
.icon-question:before {
  content: "\f128";
}
.icon-search:before {
  content: "\f002";
}
.icon-envelope-o:before {
  content: "\f003";
}
.icon-heart:before {
  content: "\f004";
}
.icon-star:before {
  content: "\f005";
}
.icon-star-o:before {
  content: "\f006";
}
.icon-user:before {
  content: "\f007";
}
.icon-th-list:before {
  content: "\f00b";
}
.icon-check:before {
  content: "\f00c";
}
.icon-close:before {
  content: "\f00d";
}
.icon-remove:before {
  content: "\f00d";
}
.icon-times:before {
  content: "\f00d";
}
.icon-power-off:before {
  content: "\f011";
}
.icon-trash-o:before {
  content: "\f014";
}
.icon-home:before {
  content: "\f015";
}
.icon-lock:before {
  content: "\f023";
}
.icon-tags:before {
  content: "\f02c";
}
.icon-camera:before {
  content: "\f030";
}
.icon-pencil:before {
  content: "\f040";
}
.icon-map-marker:before {
  content: "\f041";
}
.icon-check-square-o:before {
  content: "\f046";
}
.icon-info-circle:before {
  content: "\f05a";
}
.icon-mail-forward:before {
  content: "\f064";
}
.icon-share:before {
  content: "\f064";
}
.icon-exclamation-circle:before {
  content: "\f06a";
}
.icon-eye:before {
  content: "\f06e";
}
.icon-exclamation-triangle:before {
  content: "\f071";
}
.icon-warning:before {
  content: "\f071";
}
.icon-facebook-square:before {
  content: "\f082";
}
.icon-key:before {
  content: "\f084";
}
.icon-cogs:before {
  content: "\f085";
}
.icon-gears:before {
  content: "\f085";
}
.icon-thumbs-o-up:before {
  content: "\f087";
}
.icon-thumbs-o-down:before {
  content: "\f088";
}
.icon-heart-o:before {
  content: "\f08a";
}
.icon-sign-out:before {
  content: "\f08b";
}
.icon-trophy:before {
  content: "\f091";
}
.icon-phone:before {
  content: "\f095";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-facebook-f:before {
  content: "\f09a";
}
.icon-arrow-circle-left:before {
  content: "\f0a8";
}
.icon-arrow-circle-right:before {
  content: "\f0a9";
}
.icon-globe:before {
  content: "\f0ac";
}
.icon-list-ul:before {
  content: "\f0ca";
}
.icon-list-ol:before {
  content: "\f0cb";
}
.icon-google-plus:before {
  content: "\f0d5";
}
.icon-caret-down:before {
  content: "\f0d7";
}
.icon-caret-up:before {
  content: "\f0d8";
}
.icon-envelope:before {
  content: "\f0e0";
}
.icon-linkedin:before {
  content: "\f0e1";
}
.icon-rotate-left:before {
  content: "\f0e2";
}
.icon-undo:before {
  content: "\f0e2";
}
.icon-bolt:before {
  content: "\f0e7";
}
.icon-flash:before {
  content: "\f0e7";
}
.icon-cloud-download:before {
  content: "\f0ed";
}
.icon-cloud-upload:before {
  content: "\f0ee";
}
.icon-building-o:before {
  content: "\f0f7";
}
.icon-smile-o:before {
  content: "\f118";
}
.icon-frown-o:before {
  content: "\f119";
}
.icon-meh-o:before {
  content: "\f11a";
}
.icon-code:before {
  content: "\f121";
}
.icon-star-half-empty:before {
  content: "\f123";
}
.icon-star-half-full:before {
  content: "\f123";
}
.icon-star-half-o:before {
  content: "\f123";
}
.icon-exclamation:before {
  content: "\f12a";
}
.icon-thumbs-up:before {
  content: "\f164";
}
.icon-arrow-circle-o-right:before {
  content: "\f18e";
}
.icon-envelope-square:before {
  content: "\f199";
}
.icon-building:before {
  content: "\f1ad";
}
.icon-life-bouy:before {
  content: "\f1cd";
}
.icon-life-buoy:before {
  content: "\f1cd";
}
.icon-life-ring:before {
  content: "\f1cd";
}
.icon-life-saver:before {
  content: "\f1cd";
}
.icon-support:before {
  content: "\f1cd";
}
.icon-user-secret:before {
  content: "\f21b";
}
.icon-facebook-official:before {
  content: "\f230";
}
.icon-user-times:before {
  content: "\f235";
}
.icon-registered:before {
  content: "\f25d";
}
.icon-question-circle-o:before {
  content: "\f29c";
}
.icon-envelope-open-o:before {
  content: "\f2b7";
}
.icon-address-card:before {
  content: "\f2bb";
}
.icon-vcard:before {
  content: "\f2bb";
}
.icon-user-o:before {
  content: "\f2c0";
}
