@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?rsyu9e');
  src:  url('fonts/icomoon.eot?rsyu9e#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?rsyu9e') format('truetype'),
    url('fonts/icomoon.woff?rsyu9e') format('woff'),
    url('fonts/icomoon.svg?rsyu9e#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-location:before {
  content: "\e909";
}
.icon-location2:before {
  content: "\e90a";
}
.icon-checkmark:before {
  content: "\e906";
}
.icon-checkmark2:before {
  content: "\e907";
}
.icon-checkbox-checked:before {
  content: "\e908";
}
.icon-cancel-circle:before {
  content: "\e904";
}
.icon-cross:before {
  content: "\e905";
}
.icon-smile:before {
  content: "\e903";
}
.icon-home2:before {
  content: "\e900";
}
.icon-home3:before {
  content: "\e901";
}
.icon-home4:before {
  content: "\e902";
}
.icon-question:before {
  content: "\f128";
}
.icon-search:before {
  content: "\f002";
}
.icon-envelope-o:before {
  content: "\f003";
}
.icon-th-list:before {
  content: "\f00b";
}
.icon-check:before {
  content: "\f00c";
}
.icon-close:before {
  content: "\f00d";
}
.icon-remove:before {
  content: "\f00d";
}
.icon-times:before {
  content: "\f00d";
}
.icon-trash-o:before {
  content: "\f014";
}
.icon-home:before {
  content: "\f015";
}
.icon-lock:before {
  content: "\f023";
}
.icon-camera:before {
  content: "\f030";
}
.icon-pencil:before {
  content: "\f040";
}
.icon-map-marker:before {
  content: "\f041";
}
.icon-check-square-o:before {
  content: "\f046";
}
.icon-exclamation-circle:before {
  content: "\f06a";
}
.icon-exclamation-triangle:before {
  content: "\f071";
}
.icon-warning:before {
  content: "\f071";
}
.icon-facebook-square:before {
  content: "\f082";
}
.icon-key:before {
  content: "\f084";
}
.icon-cogs:before {
  content: "\f085";
}
.icon-gears:before {
  content: "\f085";
}
.icon-thumbs-o-up:before {
  content: "\f087";
}
.icon-thumbs-o-down:before {
  content: "\f088";
}
.icon-sign-out:before {
  content: "\f08b";
}
.icon-trophy:before {
  content: "\f091";
}
.icon-phone:before {
  content: "\f095";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-facebook-f:before {
  content: "\f09a";
}
.icon-arrow-circle-right:before {
  content: "\f0a9";
}
.icon-globe:before {
  content: "\f0ac";
}
.icon-list-ul:before {
  content: "\f0ca";
}
.icon-list-ol:before {
  content: "\f0cb";
}
.icon-google-plus:before {
  content: "\f0d5";
}
.icon-caret-down:before {
  content: "\f0d7";
}
.icon-envelope:before {
  content: "\f0e0";
}
.icon-cloud-download:before {
  content: "\f0ed";
}
.icon-cloud-upload:before {
  content: "\f0ee";
}
.icon-building-o:before {
  content: "\f0f7";
}
.icon-smile-o:before {
  content: "\f118";
}
.icon-frown-o:before {
  content: "\f119";
}
.icon-code:before {
  content: "\f121";
}
.icon-star-half-empty:before {
  content: "\f123";
}
.icon-star-half-full:before {
  content: "\f123";
}
.icon-star-half-o:before {
  content: "\f123";
}
.icon-exclamation:before {
  content: "\f12a";
}
.icon-thumbs-up:before {
  content: "\f164";
}
.icon-arrow-circle-o-right:before {
  content: "\f18e";
}
.icon-envelope-square:before {
  content: "\f199";
}
.icon-building:before {
  content: "\f1ad";
}
.icon-facebook-official:before {
  content: "\f230";
}
.icon-registered:before {
  content: "\f25d";
}
.icon-envelope-open-o:before {
  content: "\f2b7";
}
