.reviewform {
	width: auto;
	overflow-x: hidden;
	overflow-y: hidden;
	height: 400px!important;
	margin-top: 0;
	margin-bottom: 0;	
}


.stepfields {
	font-family:Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
	font-size: 1.35em;
	font-weight: bolder;
	color: #56B2D7;
	height: 20px;
	width: 100%;
		padding-bottom: 10px;
	margin-bottom: 55px;
}
.searchfield {
	width: 100%;
	padding-left: 15px;
	border: thin solid #56B2D7;
	border-radius:5px;
	font-family: Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
	font-size: 1.375em;
}





.accpetfield {
	font-family:Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
	width: 100%;
	margin-bottom: 20px;	
	font-weight: bold;
	font-size: 0.8em;
	color: #000000;
	text-align: justify;
	line-height: 1.25em;
	margin-top: 30px;
	
}




