input[type="checkbox"] {
	transform:scale(2, 2);
	font-family:Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
	font-weight: bold;
	color: #00F;
	cursor: pointer;
	margin-left: 5px;
	border: thin solid #56B2D7;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-right: 15px;
}
input[type="checkbox"] + label {
	color: #55B5CE;  /*some styles here*/
	font-family:Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
	font-size: 1.25em;
	font-weight: bolder;
	vertical-align: middle;
}

@media only screen and (min-width:412px) and (max-width:732px) {
	
	
	input[type="checkbox"] {

	margin-left: 5px;

}
	
}

@media only screen and (max-width:320px){  

	input[type="checkbox"] {

	display: none;

}
input[type="checkbox"] + label {
	display:none;
}
}

@media only screen and (max-width:360px){  

	input[type="checkbox"] {

	display: none;

}

input[type="checkbox"] + label {
	display:none;
}
}

@media only screen and (max-width:375px){  
	input[type="checkbox"] {

	display: none;

}

input[type="checkbox"] + label {
	display:none;
}

}