@charset "UTF-8";

.ratingbox {
	height: 65px;
	width: 100;
	font-family:Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
	text-align: left;
	margin-top: 10px;
	}

.cc-selector {
width: 100%;
	padding-left: 0px;
	height: 75px;
	
	
}

.rating_selection label:first-of-type {
  display: none;
}
.rating_selection input[type='radio'],
.rating_selection span {
  display: none;
}
.rating_selection label {
  cursor: pointer;
}
.rating_selection label:before {
	font-family: icomoon;
	content: "\f006";
	font-size: 50px;
	letter-spacing: 10px;
	cursor:pointer;
	color: gold;
  }
.rating_selection input:checked + label ~ label:before {
  color: #aaa;
}
.rating_selection:hover label[for]:before {
	color: gold;
}
.rating_selection:hover label:hover ~ label:before {
  color: #aaa;
}
.fieldset {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin-left: 0px!important;
	padding-left: 0px!important;
}

