@charset "utf-8";
}
body {
	margin: 0px;
}
a:link {
	color: #56B2D7;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #56B2D7;
}
a:hover {
	text-decoration: none;
	color: #56B2D7;
}
a:active {
	text-decoration: none;
	color: #56B2D7;
}
.form {
	width: auto;
	overflow-x: hidden;
	overflow-y: hidden;
}
.formcontainer {
	height: inherit;
	width: 380px;
	padding-top: 0px;
	padding-right: 20px;
	padding-bottom: 0px;
	margin-right: auto;
	margin-left: auto;
	background-color: #C8C9CB;
	border-radius:5px;
	border: thin solid #56B2D5;
	overflow-x: hidden;
	overflow-y: hidden;
}
.formheader {
	height: 40px;
	width: 100%;
	background-color: #C8C9CB;
	font-family: Impact;
	font-size: 2em;
	color: #56B2D7;
	vertical-align: middle;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 15px;
}
.datefield {
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: bold;
	color: #56B6D1;
	font-size: 1em;
	padding-left: 45px;
	margin-bottom: 10px;
	width: 100%;
}


.formfields {
	font-family: Tahoma, Geneva, sans-serif;
	width: 100%;
	margin-bottom: 10px;
	padding-left: 25px;
	font-weight: bold;
	font-size: 1em;
	margin-top: 2px;
	color: #D6D6D6;
}
.accpetfield {
	font-family: Tahoma, Geneva, sans-serif;
	width: 70%;
	margin-bottom: 20px;
	padding-left: 25px;
	font-weight: bold;
	font-size: 0.8em;
	margin-top: 2px;
	color: #FFFFFF;
	text-align: justify;
	line-height: 1.25em;
	margin-left: 15px;
}
.accepttext {
	text-align: left;
	display: inline;
	width: 80%;
	word-spacing: 0.1em;
}
.reviewlist {
	width: 100%;
	height: 75px;
	position: relative;
	padding-top: 5px;
	padding-bottom: 5px;
}
.imagebox {
	position: absolute;
	left: 15px;
	top: 0px;
}
.propertyimage {
	height: aujto;
	width: 65px;
	border: thin solid #56B2D7;
	border-radius:50%;
	vertical-align: middle;	
}
.addressfield  {
	position: absolute;
	left: 85px;
	top: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #56B2D7;
	font-size: 1.25em;
	width: auto;
	margin-left: 5px;
	padding-top: 10px;
}

@media only screen and (min-width:412px) and (max-width:732px)  {
	.formheader {
	height: 40px;
	width: 100%;
	background-color: #C8C9CB;
	font-family: Impact;
	font-size: 1.75em;
	color: #56B2D7;
	vertical-align: middle;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 15px;
}
	
	
}
