.wrapper {
	position: relative;
	vertical-align: middle;
	height:100px;
	width:100px;
	display: inline-block;
	
}
.close:before {
	content: '\2718';
	font-family: "Arial Rounded MT Bold";
	font-size: 24px;
	font-weight: bolder;
	color: #FFFFFF;
	background-color: #F00;
	border: thin solid #F00;
	border-radius: 50%;
}
.close {
	position: absolute;
	top: 5px;
	right: 10px;
	cursor: pointer;
}




