a:link {
	color: #56B2D7;
	text-decoration: none;
	text-shadow: 0 0px 0;
}
a:visited {
	text-decoration: none;
	color: #56B2D7;
	text-shadow: 0 0px 0;
}
a:hover {
	text-decoration: none;
	color: #56B2D7;
	text-shadow: 0 0px 0;
}
a:active {
	text-decoration: none;
	color: #56B2D7;
	text-shadow: 0 0px 0;
}

.fieldlabels {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 1.75em;
	color: #91B6D7;
	width: 100%;
	margin-bottom: 0px;
	font-weight: bolder;
}
.membersprofile {
overflow-x: hidden;
	overflow-y: hidden;	
	
}
.imagebox {
	width: 100%;
	height: 110px;
	position: relative;
}
.datefield {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-weight: bold;
	color: #56B6D1 !important;
	font-size: 1em;
	margin-bottom: 10px;
	width: 100%;
	text-shadow: 0 0px 0;
}


#changepassword a:link {
	color: #FFFFFF;
	text-decoration: none;
}
#changepassword a:visited {
	text-decoration: none;
	color: #FFFFFF;
}
#changepassword:hover {
	text-decoration: none;
	color: #B8F5B1;
}
#changepassword a:active {
	text-decoration: none;
	color: #FFFFFF;
}


.formfields {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	width: 100%;
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 1.5em;
	margin-top: 2px;
	color: #D6D6D6;
}
.toggletext {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	padding-left:25px;
	font-weight: bold;
	font-size: 1em;
	margin-bottom: 15px;
	color: #56B2D7;
	height: 35px;
	width:80%;
	display: inline-block;
	vertical-align: middle;
	text-shadow: 0 0px 0;
		
	
}

.inputfields {
	height: 35px;
	width: 100%;
	border: thin solid #56B2D7;
	margin-top: 5px;
	margin-left: 10px;
	border-radius:5px;
	font-size: 1em;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}
.emailfield {
	height: 35px;
	width: 85%;
	border: thin solid #56B2D7;
	margin-top: 5px;
	margin-left: 10px;
	border-radius:5px;
	font-size: 1em;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	background-color: #B8F5B1;
	font-weight: 900;
	color: #56B2D7;
}
.editemail {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 1.375em;
	padding-left: 5%;
	color:#6EADC1;
	width:10%;
	text-align: center;
	display: inline;
	
}
#editemail a:active {
	
	color:#6EADC1;
	
}
#editemail a:hover{
	
	color:#6EADC1;
	
}
#editemail a:visited {
	
	color:#6EADC1;
	
}
#editemail a:link {
	
	color:#6EADC1;
	
}

.accpetfield {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	width: 100%;
	margin-bottom: 20px;
	font-weight: bold;
	font-size: 1.25em;
	margin-top: 2px;
	color: #666666;
	text-align: justify;
	line-height: 1.25em;
	text-shadow: 0 0px 0;
	margin-left: auto;
	margin-right: auto;
	}
#accpetfield a:link {
	
	color: #6EADC1;
	text-decoration: none;
}
#accpetfield a:hover {
	
	color: #6EADC1;
	text-decoration: underline;
	
}
#accpetfield a:active {
	
	color: #6EADC1;
	text-decoration: none;
}
#accpetfield a:visited {
	
	color: #6EADC1;
	text-decoration: none;
}

.profilephoto {
	border: thin solid #56B2D7;
	width:110px;
	height:110px;
	border-radius: 50%;	
	position: relative;
}


.deactivate {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 2em;
	color: #FFF;
	background-color: #FE8374;
	height: 95px;
	width: 85%;
	border: thin solid #FFF;
	margin-top: 15px;
	margin-bottom: 15px;
	border-radius:10px;
	text-align: left;
	padding-left:15%;
	vertical-align: middle;
	line-height: 95px;
	text-shadow: 0 0px 0;
	position: relative;
}

.deactivate:before {	
font-family: icomoon;
	content: "\f06a";
	font-size: 1em;
	position: absolute;
	right: 35px;
	top:center;
		
}

#deactivate a:link {
	color: #FFFFFF;
	text-decoration: none;
	text-shadow: 0 0px 0;
}
#deactivate a:visited {
	text-decoration: none;
	color: #FFFFFF;
	text-shadow: 0 0px 0;
}
#deactivate:hover {
	text-decoration: none;
	color: #B8F5B1;
	text-shadow: 0 0px 0;
}
#deactivate a:active {
	text-decoration: none;
	color: #FFFFFF;
	text-shadow: 0 0px 0;
}
.danger {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 1em;
	font-weight: bold;
	color: #F00;
	height: auto;
	width: 100%;
	padding-left: 25px;
	text-shadow: 0 0px 0;
}
.privacycontainer {
	width: 100%;
	margin-left: 25px;
		
}
.locale {
	width: 100%;
	padding-left: 0px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-weight: bold;
	color: #56B2D7;
	cursor: pointer;
	text-shadow: 0 0px 0;
	margin-bottom: 15px;
}
.city {
	background-color: #FFF;
	border: thin solid #56B2D7;
	padding-left: 5%;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 1.25em;
	height: 95px;
	width: 95%;	
	line-height: 95px;
	vertical-align:middle;
	resize: none;	
	overflow: hidden;
	border-radius: 10px;
	margin-left: 0px;
}
.approx {
	width: 20%;
 	padding-left: 5px;
	vertical-align: middle;
	display: inline;
	
}
#password::-webkit-search-cancel-button{
	color: #FFFEFD;
	font-size: 1.25em;
	  position:relative;
    right:20px;  
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius:10px;
    background: red;
	cursor: pointer;
	background-image:url(../../images/icons/closeIcon10.png);
	background-repeat: no-repeat;
	background-position: center;	
}



.updated {
	height: 95px;
	width: 70%;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 1.5em;
	font-weight: bolder;
	z-index: 9000;
	border: thin solid #FFF;
	border-radius: 5px;
	-webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.9);
	background-color: rgba(184,245,177,1.00);
	line-height: 95px;
	color: #91B6D7;
	text-align: center;
	display: none;
	position: fixed;
	top: 165px;
	margin-right: auto;
	margin-left: auto;
	text-shadow: 0 0px 0;
}
.uploaded {
	height: 95px;
	width: 70%;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 1.5em;
	font-weight: bolder;
	z-index: 9000;
	border: thin solid #FFF;
	border-radius: 5px;
	-webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.9);
	background-color: rgba(184,245,177,1.00);
	line-height: 95px;
	color: #91B6D7;
	text-align: center;
	display: none;
	position: fixed;
	top: 165px;
	margin-right: auto;
	margin-left: auto;
	text-shadow: 0 0px 0;
}
