.crumbswrapper {
	height: 30px;
	width: 1100px;
	margin-right: auto;
	margin-left: auto;
	background-color: #FFF;
	margin-top: 0px;
	line-height: 30px;
	top: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-indent: 15px;
}

nav {
	margin: 0px;
}
/*Strip the ul of padding and list styling*/
#crumbswrapper #crumb ul {
	list-style-type:none;
	margin:0;
	padding:0;
	position: absolute;
	z-index:3;
}
/*Create a horizontal list with spacing*/
#crumbswrapper #crumbs li {
	display:inline-block;
	float: left;
	margin-right: 1px;
	text-align: left;	
	
}
/*Style for menu links*/
#crumbswrapper #crumbs li a {
	display:block;
	height: 30px;
	text-align: center;
	line-height: 30px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #00F;
	text-decoration: none;
	width: auto;
	font-weight: 500;
	white-space:nowrap;
}
/*Hover state for top level links*/
#crumbswrapper #crumbs li:hover a {
	background: #fff;
	color: #00F;
	text-decoration: underline;	
}



/*Hide dropdown links until they are needed*/
#crumbswrapper #crumbs li ul {
    display: none;
	
}
/*Make dropdown links vertical*/
#crumbswrapper #crumbs li ul li {
    display: block;
    float: none;
	
}
/*Prevent text wrapping*/
#crumbswrapper #crumbs li ul li a {
    width: auto;
    min-width: 100px;
    padding: 0 20px;
	z-index:1;
}
/*Display the dropdown on hover*/
#crumbswrapper #crumbs ul li a:hover + .hidden, .hidden:hover {
    display: block;
}

@media screen and (max-width : 760px){
    /*Make dropdown links appear inline*/
 #crumbswrapper {
        display: none;
    }
}
