.owner-agency {
	list-style-type:none;
	margin-top: 10px;
	margin-right: 0;
	margin-bottom: 10;
	margin-left: 25;
	width: 400px;
	height: auto;
	padding-top: 10;
	padding-right: 0;
	padding-bottom: 10;
	padding-left: 40;
	vertical-align: middle;
}

.owner-agency li {
	float:left;
	width:100px;
	height:40px;
	position:relative;
	margin-top: 0;
	margin-right: 5px;
	margin-bottom: 0;
	margin-left: 15;
}

.owner-agency label, .owner-agency input {
	display:block;
	position:absolute;
	top:0px;
	left:0;
	right:0;
	bottom:0;
}

.owner-agency input[type="radio"] {
    opacity:0.011;
    z-index:100;
}

.owner-agency input[type="radio"]:checked + label {
	background-color: #FFFF00;
	font-family: Shruti;
	color: #FFF;
	font-size: 17px;
	font-weight: 700;
}

.owner-agency label {
	padding:5px;
	border:1px solid #CCC;
	cursor:pointer;
	z-index:90;
	border-radius:5px;
	text-shadow:1px 1px white, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
	font-family: Shruti;
	color: #FFF;
	font-size: 17px;
	font-weight: 400;
}

.owner-agency label:hover {
	background-color: #BE8C02;
}
