#welcomebox p a:link {
	color: #00F;
	text-decoration: none;
}
#welcomebox p a:visited {
	text-decoration: none;
	color: #00F;
}
#welcomebox p a:hover {
	text-decoration: none;
	color: #00F;
}
#welcomebox p a:active {
	text-decoration: none;
	color: #00F;
}
#email a:link {
	color: ffc;
	text-decoration: none;
}
#email a {
	font-family: Arial, Helvetica, sans-serif;
	color: #FFF;
	text-decoration: none;
}
#email a:visited {
	text-decoration: none;
	color: ddc;
}
#email a:hover {
	text-decoration: none;
	color: ffc;
}
#email a:active {
	text-decoration: none;
	color: ffc;
}
#fold a:link {
	color: #00F;
	text-decoration: none;
}
#fold a:visited {
	text-decoration: none;
	color: #00F;
}
#fold a:hover {
	text-decoration: none;
	color: #00F;
}
#fold a:active {
	text-decoration: none;
	color: #00F;
}
#fold1 a:link {
	color: #00F;
	text-decoration: none;
}
#fold1 a:visited {
	text-decoration: none;
	color: #00F;
}
#fold1 a:hover {
	text-decoration: none;
	color: #00F;
}
#fold1 a:active {
	text-decoration: none;
	color: #00F;
}

